<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      Cadastre-se
    </ion-title>
  </ion-navbar>
</ion-header>


<ion-content no-padding padding-horizontal>
  <form [formGroup]="signupForm" (submit)="signupUser()" novalidate>

    <ion-item>
      <ion-label floating>Email</ion-label>
      <ion-input formControlName="email" type="email" [(ngModel)]="usuario.email" [class.invalid]="!signupForm.controls.email.valid && signupForm.controls.email.dirty"></ion-input>
    </ion-item>
    <div *ngIf="signupForm.controls.email.invalid && (signupForm.controls.email.touched) || (btnSalvarClicked == true && signupForm.controls['email'].invalid)">
      <p class="msgValidacao" margin-left *ngIf="signupForm.controls['email'].errors.invalidEmail" no-margin margin-horizontal>
        <ion-icon item-left name="information-circle"></ion-icon>
        Digite um e-mail válido!
      </p>
    </div>

    <ion-item>
      <ion-label floating>Senha</ion-label>
      <ion-input id="password" formControlName="password" type="password" [(ngModel)]="usuario.senha"></ion-input>
    </ion-item>
    <div *ngIf="signupForm.controls.password.invalid && ( signupForm.controls.password.touched) || (btnSalvarClicked == true && signupForm.controls['password'].invalid)">
      <p class="msgValidacao" margin-left *ngIf="signupForm.controls['password'].errors.required" no-margin margin-horizontal>
        <ion-icon item-left name="information-circle"></ion-icon>
        Campo obrigatório!
      </p>
      <p class="msgValidacao" margin-left *ngIf="signupForm.controls['password'].errors.minlength" no-margin margin-horizontal>
        <ion-icon item-left name="information-circle"></ion-icon>
        Senha deve conter pelo menos 6 dígitos
      </p>
    </div>


    <ion-item>
      <ion-label floating>Nome</ion-label>
      <ion-input formControlName="nome" type="text" [(ngModel)]="usuario.nomeUsuario" [class.invalid]="!signupForm.controls.email.valid && signupForm.controls.email.dirty"></ion-input>
    </ion-item>
    <p class="msgValidacao" margin-left *ngIf="(!signupForm.controls['nome'].valid && signupForm.controls['nome'].touched) || (btnSalvarClicked == true && !signupForm.controls['nome'].valid)" no-margin margin-horizontal>
      <ion-icon item-left name="information-circle"></ion-icon>
      Campo obrigatório!
    </p>

    <ion-item>
      <ion-label floating>CPF</ion-label>
      <ion-input minlength="14" maxlength="14" [(ngModel)]="usuario.cpf" formControlName="cpf" type="tel" [textMask]="{mask: masks.cpfMask,guide:false}"></ion-input>
    </ion-item>
    <p class="msgValidacao" margin-left *ngIf="(!signupForm.controls['cpf'].valid && signupForm.controls['cpf'].touched) || (btnSalvarClicked == true && !signupForm.controls['cpf'].valid)" no-margin margin-horizontal>
      <ion-icon item-left name="information-circle"></ion-icon>
      Campo obrigatório!
    </p>

    <ion-item>
      <ion-label floating>Telefone</ion-label>
      <ion-input maxlength="14" [(ngModel)]="usuario.telefone" formControlName="telefone" type="tel" [textMask]="{mask: masks.foneMask,guide:false}"></ion-input>
    </ion-item>
    <p class="msgValidacao" margin-left *ngIf="(!signupForm.controls['telefone'].valid && signupForm.controls['telefone'].touched) || (btnSalvarClicked == true && !signupForm.controls['telefone'].valid)" no-margin margin-horizontal>
      <ion-icon item-left name="information-circle"></ion-icon>
      Campo obrigatório!
    </p>

    <button ion-button block type="submit" (click)="btnSalvarClicked=true" style="margin-top:20px">
      Cadastrar
    </button>

  </form>

</ion-content>