<ion-header>

  <ion-navbar color="primary">
    <ion-title>cadastro</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-grid>
    <form [formGroup]="formCadastroUsuario" (ngSubmit)="cadastrarUsuario()">
      <ion-item>
        <ion-label floating>Nome*</ion-label>
        <ion-input formControlName="nomeUsuario" type="text"></ion-input>
      </ion-item>
      <p class="msgValidacao" *ngIf="(!formCadastroUsuario.controls['nomeUsuario'].valid && formCadastroUsuario.controls['nomeUsuario'].touched) || (btnCadastrarClicked == true && !formCadastroUsuario.controls['nomeUsuario'].valid)">
        <ion-icon item-left name="information-circle"></ion-icon>
        Digite seu nome
      </p>

      <ion-item [ngClass] = "{'ng-touched':true, 'ng-untouched':false}">
        <ion-label floating>E-mail*</ion-label>
        <ion-input formControlName="emailUsuario" type="text"></ion-input>
      </ion-item>
      <p class="msgValidacao" *ngIf="(!formCadastroUsuario.controls['emailUsuario'].valid && formCadastroUsuario.controls['emailUsuario'].touched) || (btnCadastrarClicked == true && !formCadastroUsuario.controls['emailUsuario'].valid)">
        <ion-icon item-left name="information-circle"></ion-icon>
        Digite seu e-mail
      </p>

      <ion-item>
        <ion-label floating>Senha*</ion-label>
        <ion-input formControlName="senhaUsuario" type="password"></ion-input>
      </ion-item>
      <p class="msgValidacao" *ngIf="(!formCadastroUsuario.controls['senhaUsuario'].valid && formCadastroUsuario.controls['senhaUsuario'].touched) || (btnCadastrarClicked == true && !formCadastroUsuario.controls['senhaUsuario'].valid)">
        <ion-icon item-left name="information-circle"></ion-icon>
        Sua senha deve conter pelo menos 6 caracteres
      </p>

      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label floating>Telefone*</ion-label>
            <ion-input formControlName="telefoneUsuario" type="tel" [textMask]="{mask: masks.foneMask,guide:true}"></ion-input>
          </ion-item>
          <p class="msgValidacao" *ngIf="(!formCadastroUsuario.controls['telefoneUsuario'].valid && formCadastroUsuario.controls['telefoneUsuario'].touched) || (btnCadastrarClicked == true && !formCadastroUsuario.controls['telefoneUsuario'].valid)">
            <ion-icon item-left name="information-circle"></ion-icon>
            Digite seu Telefone
          </p>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label floating>CPF*</ion-label>
            <ion-input formControlName="cpfUsuario" type="tel" [textMask]="{mask: masks.cpfMask,guide:false}"></ion-input>
          </ion-item>
          <p class="msgValidacao" *ngIf="(!formCadastroUsuario.controls['cpfUsuario'].valid && formCadastroUsuario.controls['cpfUsuario'].touched) || (btnCadastrarClicked == true && !formCadastroUsuario.controls['cpfUsuario'].valid)">
            <ion-icon item-left name="information-circle"></ion-icon>
            Digite seu CPF
          </p>
        </ion-col>
      </ion-row>

      <ion-item>
        <ion-label>Sexo*</ion-label>
        <ion-select floating formControlName="sexoUsuario">
          <ion-option value="M">Masculino</ion-option>
          <ion-option value="F">Feminino</ion-option>
        </ion-select>
      </ion-item>
      <p class="msgValidacao" *ngIf="(!formCadastroUsuario.controls['sexoUsuario'].valid && formCadastroUsuario.controls['sexoUsuario'].touched) || (btnCadastrarClicked == true && !formCadastroUsuario.controls['sexoUsuario'].valid)">
        <ion-icon item-left name="information-circle"></ion-icon>
        Escolha seu sexo
      </p>

      <ion-item>
        <ion-label floating>Endereço*</ion-label>
        <ion-input formControlName="enderecoUsuario" type="text"></ion-input>
      </ion-item>
      <p class="msgValidacao" *ngIf="(!formCadastroUsuario.controls['enderecoUsuario'].valid && formCadastroUsuario.controls['enderecoUsuario'].touched) || (btnCadastrarClicked == true && !formCadastroUsuario.controls['enderecoUsuario'].valid)">
        <ion-icon item-left name="information-circle"></ion-icon>
        Digite seu endereço
      </p>
    </form>
  </ion-grid>
</ion-content>

<ion-footer>
  <button full clear ion-button (click)="btnCadastrarClicked = true;cadastrarUsuario()">Cadastrar</button>
</ion-footer>