<ion-header>
  <ion-navbar color="primary">
    <ion-buttons left>
      <button ion-button icon-only (click)="fechar()">
        <ion-icon name="arrow-back"></ion-icon> 
      </button>
    </ion-buttons>
    <ion-title>Selecione um cliente</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-searchbar #search [(ngModel)]="filtroClienteNome" [showCancelButton]=true (ionInput)="filtrarClientes()" placeholder="Pesquise aqui...">
  </ion-searchbar>

  <ion-list>
    <button ion-item text-wrap *ngFor="let btpCliente of lstClientes" (click)="escolherCliente(btpCliente)">
      <h2 class="nomeCliente">{{btpCliente.nome}}</h2>
      <h4 ion-text color="sub-label" class="categoriaCliente">{{btpCliente.categoria.categoriaDsc==null?'':btpCliente.categoria.categoriaDsc}} {{btpCliente.categoria.categoriaDsc!=null && btpCliente.celular!=null ? ' | ':'' }}  {{btpCliente.celular==null?'':btpCliente.celular}} </h4>
      <ion-icon color="primary" item-right name="arrow-forward"></ion-icon>
    </button>
  </ion-list>

  <ion-fab right bottom>
    <button ion-fab color="secondary" (click)="incluirNovoCliente()">
      <ion-icon name="person-add"></ion-icon>
    </button>
  </ion-fab>

</ion-content>