page-login {
     
 
     .controlV{
          margin-bottom: 40px;
          height: 200px;
     }

     .ion-content{
                  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e9ffdd+41,ffffff+100 */
        background: rgb(233,255,221); /* Old browsers */ /* FF3.6-15 */ /* Chrome10-25,Safari5.1-6 */
        background: -webkit-linear-gradient(rgba(233,255,221,1) 41%, rgba(255,255,255,1) 100%);
        background: -o-linear-gradient(rgba(233,255,221,1) 41%, rgba(255,255,255,1) 100%);
        background: linear-gradient(rgba(233,255,221,1) 41%, rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e9ffdd', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
    }
      
      ion-row {
        align-items: center;
        text-align: center;
      }
 
      ion-item {
          padding-left: 10px !important;
          margin-bottom: 10px;
          font-size: 0.9em;
      }

    .login-button {
          font-size: 1.1em;
          text-transform: none;
      }

      p{
          color:$colorFont;
          text-transform: none;
      }

      .iconLogin{
          color:$colorFont;
      }      
}
