<ion-content padding class="ion-content">

  <ion-row>
    <ion-col>
      <img class="controlV" src="assets/img/logo2.png" />
    </ion-col>
  </ion-row>

  
    <ion-item style="background-color:rgba(0,0,0,0);">
      <ion-input placeholder="E-mail" [(ngModel)]="usuario" type="text" (focus)="focoEmail = true;" (blur)="focoEmail = false;"></ion-input>
      <ion-icon name="mail" item-right [style.color]="focoEmail?'#009FE3':'gray'"></ion-icon>
    </ion-item>
    <ion-item style="background-color:rgba(0,0,0,0);">
      <ion-input placeholder="Senha" [(ngModel)]="senha" type="password" (focus)="focoSenha = true;" (blur)="focoSenha = false;"></ion-input>
      <ion-icon name="key" item-right [style.color]="focoSenha?'#009FE3':'gray'"></ion-icon>
    </ion-item>

  <button ion-button type="submit" block class="login-button" (click)="logarApp()">
    Login
  </button>

</ion-content>

<ion-footer>
  <button ion-button full clear color="primary" (click)="irCadastroPage()">
    <p class="btnCadastrar">Não tem uma conta? <b style="font-weight: 800;">Cadastre-se</b></p> 
  </button>
</ion-footer>