<ion-header>

  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Forma de Pagamento</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>


  <ion-list class="listSlide">
    <ion-item *ngFor="let btpFormaPagamento of listFormasPagamento;let i = index" tappable (click)="editar(btpFormaPagamento)" [class.listaZebrada]="i%2==0">
      <ion-label>{{btpFormaPagamento.descricao}} </ion-label>
      <ion-icon color="primary" item-right name="ios-arrow-forward"></ion-icon>
    </ion-item>
  </ion-list>

  <p *ngIf="listFormasPagamento.length==0" class="semRegistroCadastrado"> Nenhum registro! </p>

  <button ion-fab class="buttonAdd" (click)="incluir()">
     <ion-icon name="add"></ion-icon>
  </button>

</ion-content>