<ion-header>
  <ion-navbar color="primary">
    <ion-buttons left>
      <button ion-button icon-only (click)="fechar()">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Produtos</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-searchbar [(ngModel)]="filtroProdutoNome" [showCancelButton]=true (ionInput)="filtrarProdutos()" placeholder="Pesquise aqui...">
  </ion-searchbar>

  <ion-list>
    <button ion-item text-wrap *ngFor="let produto of lstProdutos" (click)="escolherProduto(produto)">
        <h2>{{produto.produtoDsc}}</h2>
        <h4 ion-text color="sub-label">{{produto.categoria.categoriaDsc}}</h4>
        <h4 item-right>R$ {{produto.precoUnitario!=null?produto.precoUnitario.toFixed(2):'-'}}</h4>
    </button>
  </ion-list>

  <ion-fab right bottom>
    <button ion-fab color="secondary" (click)="incluirNovoProduto()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>
</ion-content>