<ion-header>
  <ion-navbar color="primary">
    <ion-buttons left>
      <button ion-button icon-only (click)="fechar()">
        <ion-icon name="arrow-back"></ion-icon> 
      </button>
    </ion-buttons>
    <ion-title>Selecione um fornecedor</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-searchbar #search [(ngModel)]="filtroFornecedorNome" [showCancelButton]=true (ionInput)="filtrarFornecedores()" placeholder="Pesquise aqui...">
  </ion-searchbar>

  <ion-list>
    <button ion-item text-wrap *ngFor="let btpFornecedor of lstFornecedor" (click)="escolherFornecedor(btpFornecedor)">
      <h2 class="nomeCliente">{{btpFornecedor.nomeFornecedor}}</h2>
      <ion-icon color="primary" item-right name="arrow-forward"></ion-icon>
    </button>
  </ion-list>

  <ion-fab right bottom>
    <button ion-fab color="secondary" (click)="incluirNovoFornecedor()">
      <ion-icon name="person-add"></ion-icon>
    </button>
  </ion-fab>

</ion-content>