<ion-list>
  <button ion-item (click)="calendarioSelected(EnumTipoCalendario.visita)">Visitas</button>
  <button ion-item (click)="calendarioSelected(EnumTipoCalendario.dataImportante)">Datas importantes</button>
  <button ion-item (click)="calendarioSelected(EnumTipoCalendario.despesa)">Despesas</button>
  <button ion-item (click)="calendarioSelected(EnumTipoCalendario.receita)">Receitas</button>
  <button ion-item (click)="calendarioSelected(EnumTipoCalendario.todos)">Todos</button>
</ion-list>