<ion-header>

  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Fornecedores</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="exibirSearchBar()"><ion-icon name="search"></ion-icon></button>
    </ion-buttons>
  </ion-navbar>

  <div id="divSearchBar" class="divSearchBar" *ngIf="renderSearchBar">
    <ion-searchbar [(ngModel)]="filtroFornecedorNome" [showCancelButton]=true (ionInput)="filtrarFornecedores()" placeholder="Pesquise aqui...">
    </ion-searchbar>
  </div>

</ion-header>

<ion-content id="contentFornecedor" >
  <ion-list no-lines>
    <button ion-item text-wrap *ngFor="let btpFornecedor of lstFornecedores;let i = index" (click)="editarFornecedor(btpFornecedor)" [class.listaZebrada]="i%2==0">
      <h2 class="nomeCliente">{{btpFornecedor.nomeFornecedor}}</h2>
      <h4 class="detalheFornecedor">{{btpFornecedor.telefone==null?'':btpFornecedor.telefone}} </h4>
      <ion-icon color="primary" item-right name="ios-arrow-forward"></ion-icon>
    </button>
  </ion-list>

  <p *ngIf="lstFornecedores.length==0" class="semRegistroCadastrado"> Nenhum registro! </p>

  <button ion-fab class="buttonAdd" (click)="adicionarFornecedor()">
     <ion-icon name="add"></ion-icon>
  </button>
</ion-content>