<ion-header>

  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Estoque</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>


  <ion-list no-lines>

    <ion-item *ngFor="let btpEstoque of listEstoque; let i = index;" tappable (click)="editar(btpEstoque)" [class.listaZebrada]="i%2==0">
      {{btpEstoque.dscEstoque}}
      <ion-icon color="primary" item-right name="ios-arrow-forward"></ion-icon>
    </ion-item>
  </ion-list>

  <p *ngIf="listEstoque.length==0" class="semRegistroCadastrado"> Nenhum registro! </p>

  <button ion-fab class="buttonAdd" (click)="incluir()">
     <ion-icon name="add"></ion-icon>
  </button>

</ion-content>