<ion-header>
  <ion-navbar color="primary">
    <ion-title>Forma Pagamento</ion-title>

    <ion-buttons left>
      <button ion-button icon-only (click)="fecharModal()">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>

    <ion-buttons right>
      <button ion-button icon-only (click)="deletar()">
        <ion-icon name="trash"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-list >
    <form [formGroup]="formCadastroFormaPagamento">
      <ion-item>
        <ion-label floating>Forma Pagamento</ion-label>
        <ion-input formControlName="descricao" type="text" [class.invalid]="!formCadastroFormaPagamento.controls['descricao'].valid && formCadastroFormaPagamento.controls['descricao'].touched"></ion-input>
      </ion-item>
      <ion-row padding-left>
        <p class="msgValidacao" *ngIf="(!formCadastroFormaPagamento.controls['descricao'].valid && formCadastroFormaPagamento.controls['descricao'].touched) || (btnSalvarClicked == true && !formCadastroFormaPagamento.controls['descricao'].valid)">Digite a forma de pagamento!</p>
      </ion-row>
    </form>
  </ion-list>
</ion-content>
<ion-footer>
  <button ion-button full clear (click)="salvar(); btnSalvarClicked = true;" color="primary" class="buttonSalvar">
            Salvar
  </button>
</ion-footer>