<ion-header>

  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title (click)="abrirPopOver($event)">
      Categorias - {{tipoCategoria==TipoCategoria.cliente?'Clientes':tipoCategoria==TipoCategoria.produto?'Produtos':'Despesas/Receitas'}}
      <ion-icon name="arrow-dropdown"></ion-icon>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-list class="listSlide" no-lines>
    <ion-item *ngFor="let categoria of categorias;let i = index" tappable (click)="editar(categoria)" [class.listaZebrada]="i%2==0">
      <div item-left padding [style.background]="categoria.cor" style="border-radius:50px;">         
      </div>
      <ion-label>{{categoria.categoriaDsc}} {{categoria.tipo}} </ion-label>
      <ion-icon color="primary" item-right name="ios-arrow-forward"></ion-icon>
    </ion-item>
  </ion-list>
  <p *ngIf="categorias.length==0" class="semRegistroCadastrado"> Nenhum registro! </p>

</ion-content>

<button ion-fab class="buttonAdd" (click)="incluir()">
     <ion-icon name="add"></ion-icon>
</button>