<ion-header>
  <ion-navbar color="primary">
    <ion-title>Categoria - {{categoria.tipo==TipoCategoria.cliente?'Clientes':categoria.tipo==TipoCategoria.produto?'Produtos':'Despesas/Receitas'}}</ion-title>

    <ion-buttons left>
      <button ion-button icon-only (click)="fecharModalCategoria()">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>

    <ion-buttons right>
      <button ion-button icon-only (click)="deletarCategoria()">
        <ion-icon name="trash"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-list >
    <form [formGroup]="formCadastroCategoria">
      <ion-item>
        <ion-label floating>Categoria</ion-label>
        <ion-input formControlName="categoriaDsc" type="text" [class.invalid]="!formCadastroCategoria.controls['categoriaDsc'].valid && formCadastroCategoria.controls['categoriaDsc'].touched"></ion-input>
      </ion-item>
      <ion-item no-lines *ngIf="!formCadastroCategoria.controls['categoriaDsc'].valid && formCadastroCategoria.controls['categoriaDsc'].touched">
        <p class="p" >Digite o nome da categoria.</p>
      </ion-item>

      
      <ion-item no-lines>
        <div item-left style="height:40px;width:40px;border-radius: 50px" [style.background-color]="categoria.cor!=null?categoria.cor:'#4767a4'" (click)="openPopoverColors()">
        </div>

        Cor
      </ion-item>
      

    </form>
  </ion-list>
</ion-content>
<ion-footer>
  <button ion-button full clear (click)="salvarCategoria()" color="primary" class="buttonSalvar">
            Salvar
  </button>
</ion-footer>