<ion-list>
  <button ion-item (click)="categoriaSelecionada(TipoCategoria.cliente)">Clientes</button>
  <button ion-item (click)="categoriaSelecionada(TipoCategoria.despesas_receitas)">Despesas/Receitas</button>
  <button ion-item (click)="categoriaSelecionada(TipoCategoria.produto)">Produtos</button>
</ion-list>