<ion-header>
  <ion-navbar color="primary">
    <ion-buttons left>
      <button ion-button icon-only (click)="fechar()">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Adicionar Produto</ion-title>
    <ion-buttons right>
      <button *ngIf="statusCrud!='incluir' && bloqueiaAlteracao==false" ion-button icon-only (click)="deletarItemCompra()">
        <ion-icon name="trash"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding>
 <ion-list>
  <form [formGroup]="formItemProdutoCompra">
    <ion-item>
      {{btpItemProdutoCompra.produto.produtoDsc}}
    </ion-item>

    <ion-item>
      <ion-label>Estoque</ion-label>
      <ion-select formControlName="idEstoque" cancelText="Cancelar" interface="popover">
        <ion-option *ngFor="let btpEstoque of lstBtpEstoque" [value]="btpEstoque.idEstoque">
          {{btpEstoque.dscEstoque}} - qtd. {{btpEstoque.qtdEstoque}}
        </ion-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label floating>Quantidade</ion-label>
      <ion-input pattern="[0-9]*" formControlName="qtdItemCompra" type="tel" [class.invalid]="!formItemProdutoCompra.controls['qtdItemCompra'].valid && formItemProdutoCompra.controls['qtdItemCompra'].touched"></ion-input>
    </ion-item>
    <ion-row padding-left>
      <p class="msgValidacao" *ngIf="(!formItemProdutoCompra.controls['qtdItemCompra'].valid && formItemProdutoCompra.controls['qtdItemCompra'].touched) || (btnSalvarClicked == true && !formItemProdutoCompra.controls['qtdItemCompra'].valid)"> Digite um número válido!</p>
    </ion-row>

    <ion-item>
      <ion-label floating>Valor</ion-label>
      <ion-input pattern="[0-9]*([.]?)[0-9]*" formControlName="vlrItemCompra"  type="tel"></ion-input>
    </ion-item>
    <ion-row padding-left>
      <p class="msgValidacao" *ngIf="(!formItemProdutoCompra.controls['vlrItemCompra'].valid && formItemProdutoCompra.controls['vlrItemCompra'].touched) || (btnSalvarClicked == true && !formItemProdutoCompra.controls['vlrItemCompra'].valid)"> Digite um número válido!</p>
    </ion-row>

  </form>
 </ion-list>
</ion-content>

<ion-footer>
  <button ion-button full clear (click)="salvarProdutoCompra(); btnSalvarClicked = true;" [disabled]="!formItemProdutoCompra.valid || bloqueiaAlteracao == true" >Adicionar produto</button>
</ion-footer>