<ion-header>

  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Dashboard</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <button ion-button (click)="download()">Downloadd</button>

  <button ion-button (click)="enviarDados()">Enviar</button>

  <div>Mês Atual</div>
  <ion-row class="rowDashboard">

    <div class="divIcon" style="background-color:#4aae80">
      <div style="height:60%">
        <img style="height:100%" src="assets/img/iconMoeda+.png" />
      </div>
      <span style="color:white;">Receitas</span>
    </div>

    <div class="divInformacoes" style="background-color:#378260">
      <div class="divReceber">
        <span style="font-weight: bold;" class="textoInformacao fontValor">{{vlrReceitasAReceberMes | number : '1.2-2'}}</span>
        <span style="margin-bottom:10px;" class="textoInformacao">A receber</span>
      </div>

      <div class="linhaDivisao" style="background-color:#4aae80"></div>

      <div class="divRecebido">
        <span style="font-weight: bold;" class="textoInformacao fontValor">{{vlrReceitasRecebidoMes | number : '1.2-2'}}</span>
        <span style="margin-bottom:10px;" class="textoInformacao">Recebido</span>
      </div>
    </div>

  </ion-row>

  <ion-row margin-top margin-bottom class="rowDashboard">
    <div class="divIcon" style="background-color:#d2625d">
      <div style="height:60%">
        <img style="height:100%" src="assets/img/iconMoeda-.png" />
      </div>
      <span style="color:white;">Despesas</span>
    </div>

    <div class="divInformacoes" style="background-color:#9d4946">
      <div class="divReceber">
        <span style="font-weight: bold;" class="textoInformacao fontValor">{{vlrDespesasAPagarMes | number : '1.2-2'}}</span>
        <span style="margin-bottom:10px;" class="textoInformacao">A pagar</span>
      </div>

      <div class="linhaDivisao" style="background-color:#d2625d"></div>

      <div class="divRecebido">
        <span style="font-weight: bold;" class="textoInformacao fontValor">{{vlrDespesasPagasMes | number : '1.2-2'}}</span>
        <span style="margin-bottom:10px;" class="textoInformacao">Pagas</span>
      </div>
    </div>

  </ion-row>


  <div>Acumulado</div>
  <ion-row class="rowDashboard">
    <div class="divIcon" style="background-color:#87a8d7">
      <div style="height:60%">
        <img style="height:100%" src="assets/img/iconDashboard+.png" />
      </div>
      <span style="color:white;">Receitas</span>
    </div>

    <div class="divInformacoes" style="background-color:#657ea1">
      <div class="divReceber">
        <span style="font-weight: bold;" class="textoInformacao fontValor">{{vlrReceitasAReceberTotal | number : '1.2-2'}}</span>
        <span style="margin-bottom:10px;" class="textoInformacao">A receber</span>
      </div>

      <div class="linhaDivisao" style="background-color:#87a8d7"></div>

      <div class="divRecebido">
        <span style="font-weight: bold;" class="textoInformacao fontValor">{{vlrReceitasRecebidoTotal | number : '1.2-2'}}</span>
        <span style="margin-bottom:10px;" class="textoInformacao">Recebido</span>
      </div>
    </div>

  </ion-row>

  <ion-row margin-top class="rowDashboard">
    <div class="divIcon" style="background-color:#f09340">
      <div style="height:60%">
        <img style="height:100%" src="assets/img/iconDashboard-.png" />
      </div>
      <span style="color:white;">Despesas</span>
    </div>

    <div class="divInformacoes" style="background-color:#b46e30">
      <div class="divReceber">
        <span style="font-weight: bold;" class="textoInformacao fontValor">{{vlrDespesasAPagarTotal | number : '1.2-2'}}</span>
        <span style="margin-bottom:10px;" class="textoInformacao">A pagar</span>
      </div>

      <div class="linhaDivisao" style="background-color:#f09340"></div>

      <div class="divRecebido">
        <span style="font-weight: bold;" class="textoInformacao fontValor">{{vlrDespesasPagasTotal | number : '1.2-2'}}</span>
        <span style="margin-bottom:10px;" class="textoInformacao">Pagas</span>
      </div>
    </div>

  </ion-row>

  <ion-row >
    <ion-card no-margin margin-vertical style="width:100%;">
      <ion-card-content>
        <canvas #doughnutCanvas width="100%" height="100%"></canvas>
      </ion-card-content>
    </ion-card>
  </ion-row>

</ion-content>