page-dashboard {
    .scroll-content {
            background-color: color($colors, light);
    }

    .half-card-horizontal{
        width: 50%;
    }

    .rowDashboard {
        height: 7em;
        display: flex;
        .divIcon{
            height: 100%;
            width: 30%;
            display:flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        .divInformacoes{
            height: 100%;
            width: 70%;
            display: flex;
            .divReceber{
                width: 50%;
                height:100%;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: flex-end;
                padding-left:10px;
            }
            .divRecebido{
                width: 50%;
                height:100%;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: flex-end;
                padding-left:10px;
            }
            .linhaDivisao{
                height: 90%;
                width: 2px;
                align-self: center;
                border-radius: 10px;
            }
            .textoInformacao{
                color:rgba(255,255,255,0.6);
                font-size: 1.1em;
            }
            .fontValor{
                font-size: 1.3em;
                font-weight: bold;
                color:white;
            }
        }
    }



}
