<ion-header>
  <ion-navbar color="primary">
    <ion-buttons left>
      <button ion-button icon-only (click)="fechar()">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Adicionar Produto</ion-title>
    <ion-buttons right>
      <button ion-button icon-only (click)="deletarItemEstoque()">
        <ion-icon name="trash"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-item>
    {{btpItemEstoque.produto.produtoDsc}}
  </ion-item>

  <form [formGroup]="form">
    <ion-item>
      <ion-label floating>Quantidade</ion-label>
      <ion-input pattern="[0-9]*" formControlName="qtdEstoque" type="tel"></ion-input>
    </ion-item>
    <ion-row padding-left>
      <p class="msgValidacao" *ngIf="(!form.controls['qtdEstoque'].valid && form.controls['qtdEstoque'].touched) || (btnSalvarClicked == true && !form.controls['qtdEstoque'].valid)">
        <ion-icon item-left name="information-circle">

        </ion-icon>
        <span class="msgValidacao">
          Digite um número válido!
        </span>
      </p>
    </ion-row>
  </form>
</ion-content>

<ion-footer>
  <button ion-button full clear (click)="salvarProdutoEstoque(); btnSalvarClicked = true;">Adiconar Produto</button>
</ion-footer>