<ion-header>

  <ion-navbar color="primary">
    <ion-buttons left>
      <button ion-button icon-only (click)="fecharModalProduto()">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>

    <ion-title>Pré-Venda</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="deletarPedido()"><ion-icon name="trash"></ion-icon></button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>

  <button class="btnAddClienteProduto" *ngIf="btpPedido.btpCliente.nome==null" ion-button block (click)="abrirModalClientes()">
      Adicionar Cliente
  </button>

  <ion-card *ngIf="btpPedido.btpCliente.nome!=null">
    <ion-item class="headerCard">
      <ion-icon item-left name="person"></ion-icon>
      {{btpPedido.btpCliente.nome}}
      <ion-icon *ngIf="btpPedido.statusPedido==StatusPedido.ABERTO" name="create" item-right (click)="abrirModalClientes()"></ion-icon>

    </ion-item>

    <ion-row>
      <ion-col>
        <ion-item style="background-color:#efefef">
          <ion-icon item-left name="calendar"></ion-icon>
          {{btpPedido.dataPedido | date:'dd/MM/y'}}
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item style="background-color:#efefef">
          <ion-icon item-left name="clipboard"></ion-icon>
          {{btpPedido.statusPedido==0?'Aberto':'Fechado'}}
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-card>

  <ion-list no-lines>
    <button ion-item text-wrap *ngFor="let btpItemPedido of listBtpItemPedido; let i = index" (click)="abrirModalItemPedido(btpItemPedido)"
      [class.listaZebrada]="i%2==0">

      <h2>{{i+1}}. {{btpItemPedido.produto.produtoDsc}}</h2>
      <h6 ion-text color="sub-label">{{btpItemPedido.qtdSolicitada==null?'':'Solicitado: '+btpItemPedido.qtdSolicitada}} {{btpItemPedido.qtdSolicitada!=null
        && btpItemPedido.qtdAtendida!=null ? ' | ':'' }} {{btpItemPedido.qtdAtendida==null?'':'Atendido:' +btpItemPedido.qtdAtendida}}
      </h6>
      <h4 item-right>{{btpItemPedido.valor!=null?getPrecoFormatado(btpItemPedido.valor):'-'}}</h4>
      </button>
  </ion-list>

  <ion-fab right bottom *ngIf="btpPedido.btpCliente.nome!=null && btpPedido.statusPedido==StatusPedido.ABERTO">
    <button ion-fab color="secondary"><ion-icon name="cart"></ion-icon></button>
    <ion-fab-list class="fabListPedidoAdd" side="top">
      <div class="divFab">
        <button class="btnFabList" ion-fab (click)="abrirModalProdutos()"><ion-icon name="add"></ion-icon></button>
        <p class="labelFabList">Adicionar Produto</p>
      </div>
      <div class="divFab">
        <button class="btnFabList" ion-fab (click)="fecharPedido()">
          <ion-icon name="checkmark"></ion-icon>
        </button>
        <p class="labelFabList">Gerar Venda</p>
      </div>
    </ion-fab-list>
  </ion-fab>

</ion-content>

<ion-footer>
  <ion-item>
    <h2 style="font-weight: bold;">Total:</h2>
    <h2 item-right>{{getPrecoFormatado(getValorTotalPreVenda())}}</h2>
  </ion-item>
</ion-footer>