page-pedido-add {
    .btnEditCliente{
        background-color:color($colors,secondary);
    }

    .btnAddClienteProduto{
        padding: 20px;
    }
    .headerCard{
        font-weight: 900;
        background-color: #efefef;
        color:black;
    }

    .fabListPedidoAdd{
        position: absolute;
        width: 180px;
        right: 0;
    }

    .divFab{
        position:relative;
        width:100%;
        height:50px;

    }

    .btnFabList{
        position: absolute;
        right: 5%;
        top: 0;
        background-color: color($colors,secondary);
        color:white;
    }

    .labelFabList{
        position: absolute;
        left: 0;
        top: 10%;
        font-weight: bold;
    }

}
