<ion-header>
  <ion-navbar color="primary">
    <ion-buttons left>
      <button ion-button icon-only (click)="fechar()">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Adicionar pagamentos da compra</ion-title>
    <ion-buttons right>
      <button *ngIf="bloqueiaAlteracao==false" ion-button icon-only (click)="deletarItemFormaPagamentocompra()">
        <ion-icon name="trash"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <form [formGroup]="formItemFormaPagamentoCompra">

      <ion-item>
        <ion-label>Forma de pagamento</ion-label>
        <ion-select formControlName="idFormaPagamento" cancelText="Cancelar">
          <ion-option *ngFor="let btpFormaPagamento of lstBtpFormaPagamento" [value]="btpFormaPagamento.idFormaPagamento">
            {{btpFormaPagamento.descricao}}
          </ion-option>
        </ion-select>
      </ion-item>
      <ion-row padding-left>
        <p class="msgValidacao" *ngIf="(!formItemFormaPagamentoCompra.controls['idFormaPagamento'].valid && formItemFormaPagamentoCompra.controls['idFormaPagamento'].touched) || (btnSalvarClicked == true && !formItemFormaPagamentoCompra.controls['idFormaPagamento'].valid)">Digite a forma de pagamento!</p>
      </ion-row>

      <ion-item>
        <ion-label>Deseja parcelar?</ion-label>
        <ion-toggle [(ngModel)]="isExibeQtdParcela" formControlName="isExibeQtdParcela"></ion-toggle>
      </ion-item>

      <ion-item *ngIf="isExibeQtdParcela">
        <ion-label floating>Quantidade de parcelas</ion-label>
        <ion-input pattern="[0-9]*"  formControlName="numParcela" type="number" [class.invalid]="!formItemFormaPagamentoCompra.controls['numParcela'].valid && formItemFormaPagamentoCompra.controls['numParcela'].touched"></ion-input>
      </ion-item>
      <ion-row padding-left>
        <p class="msgValidacao" *ngIf="(!formItemFormaPagamentoCompra.controls['numParcela'].valid && formItemFormaPagamentoCompra.controls['numParcela'].touched) || (btnSalvarClicked == true && !formItemFormaPagamentoCompra.controls['numParcela'].valid)"> Digite um número válido!</p>
      </ion-row>

      <ion-item>
        <ion-label floating>Data de vencimento</ion-label>
        <ion-datetime [yearValues]="rangeAnosData()" cancelText="Cancelar" doneText="Ok" displayFormat="DD/MM/YYYY" formControlName="datVencimento" [class.invalid]="!formItemFormaPagamentoCompra.controls['datVencimento'].valid && formItemFormaPagamentoCompra.controls['datVencimento'].touched"></ion-datetime>
      </ion-item>
      <ion-row padding-left>
        <p class="msgValidacao" *ngIf="(!formItemFormaPagamentoCompra.controls['datVencimento'].valid && formItemFormaPagamentoCompra.controls['datVencimento'].touched) || (btnSalvarClicked == true && !formItemFormaPagamentoCompra.controls['datVencimento'].valid)">Digite a data de vencimento!</p>
      </ion-row>

      <ion-item>
        <ion-label floating>Valor</ion-label>
        <ion-input pattern="[0-9]*([.]?)[0-9]*" formControlName="vlrParcela" type="tel"></ion-input>
      </ion-item>
      <ion-row padding-left>
        <p class="msgValidacao" *ngIf="(!formItemFormaPagamentoCompra.controls['vlrParcela'].valid && formItemFormaPagamentoCompra.controls['vlrParcela'].touched) || (btnSalvarClicked == true && !formItemFormaPagamentoCompra.controls['vlrParcela'].valid)">Digite um número válido!</p>
      </ion-row>

      <ion-item>
        <ion-label floating>Observação</ion-label>
        <ion-input formControlName="dscObservacao" type="text"></ion-input>
      </ion-item>
      
    </form>
  </ion-list>
</ion-content>

<ion-footer>
  <button ion-button full clear (click)="salvaItemFormaPagamentoCompra(); btnSalvarClicked = true;" [disabled]="!formItemFormaPagamentoCompra.valid || bloqueiaAlteracao==true">Finalizar</button>
</ion-footer>