<ion-header>

  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Compra</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="clickLupa()">
        <ion-icon name="search"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

  <ion-navbar *ngIf="btnSearchClicked!=true" color="primary">
    <ion-buttons left>
      <button ion-button icon-only (click)="decrementaData()">
      <ion-icon name="arrow-round-back"></ion-icon>  
    </button>
    </ion-buttons>
    <h4 style="text-align: center;color:white;">
      {{meses[filtroData.getMonth()]}} {{filtroData.getFullYear()}}
    </h4>
    <ion-buttons end>
      <button end ion-button icon-only (click)="incrementaData()">
      <ion-icon name="arrow-round-forward"></ion-icon>  
    </button>
    </ion-buttons>
  </ion-navbar>

  <ion-navbar [style.display]="btnSearchClicked==true?'':'none'" color="primary">
    <ion-searchbar id="barraBusca" class="barraBusca" [(ngModel)]="filtroCompra" [showCancelButton]=true (ionInput)="filtrarCompras()"
      placeholder="Pesquise aqui...">
    </ion-searchbar>
  </ion-navbar>

</ion-header>


<ion-content>

  <ion-list>
    <ion-item *ngFor="let btpCompra of listBtpCompra; let i = index" tappable (click)="editar(btpCompra)" [class.listaZebrada]="i%2==0">
      
      <p style="font-size:1.2em;"><ion-icon name="person" color="primary" margin-right></ion-icon>{{btpCompra.btpFornecedor.nomeFornecedor}}</p>
      <p><ion-icon name="md-calendar" color="primary" margin-right></ion-icon>{{btpCompra.datCompra | date : 'dd/MM/y'}}</p>
      
      <p item-right ion-text style="text-align:right;">
        {{btpCompra.vlrTotal | currency:'BRL':true:'1.2-2'}} 
        <br/>
        <ion-badge *ngIf="btpCompra.statusCompra==1" color="danger">Fechada</ion-badge>
        <ion-badge *ngIf="btpCompra.statusCompra!=1" color="secondary">Aberta</ion-badge>
      </p>

    </ion-item>

  </ion-list>
  <p *ngIf="listBtpCompra.length==0" class="semRegistroCadastrado"> Nenhum registro! </p>

  <ion-fab bottom right>
    <button ion-fab (click)="incluir()" color="secondary">
     <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>

</ion-content>

<ion-footer>
  <ion-item>
    <h2>Total:</h2>
    <h2 item-right>{{calcularTotalCompras() | currency:'BRL':true:'1.2-2'}}</h2>
  </ion-item>

</ion-footer>