page-login2 {
    .div-logo{
        width:100%;
        height: 30%;
        text-align: center;
    }
    .logo-login{
            height:100%;
          margin-bottom: 15px;
     }
    .scroll-content{
        background-image: url("../assets/img/bgLogin.jpg");
        background-repeat: no-repeat;
        background-size: auto 100%;
    }
      
      ion-row {
        align-items: center;
        text-align: center;
      }
 
      ion-item {
          padding-left: 10px !important;
          margin-bottom: 10px;
          font-size: 0.9em;
      }

      p{
          color:$colorFont;
          text-transform: none;
      }

      .iconLogin{
          color:$colorFont;
      }    

      ion-input{
          color:white;
          height:50px;
      }

      .divContent{
          display: flex;
          justify-content: center;
          flex-direction: column;
          align-items: center;
      }

      .divInput{
          background-color:rgba(255,255,255,0.2);
          .item-inner{
            box-shadow: none !important;
          }
          //border-radius:50px;
      }

      .login-button {
          background-color:#47e03a;
      }

      .btn-social{
        text-transform: none;
      }
      
}
