<ion-content padding>

  <div class="div-logo">
    <img class="logo-login" src="assets/img/logo2.png" />
  </div>

  <form [formGroup]="formLogin">

    <ion-row>

      <ion-col no-padding padding-vertical>
        <ion-row style="width:100%;border-bottom:1px solid rgba(255,255,255,0.3);">
          <ion-item no-padding class="divInput" no-lines>
            <ion-icon item-left name="mail" style="color:white"></ion-icon>
            <ion-input formControlName="email" [(ngModel)]="email" placeholder="E-mail"></ion-input>
          </ion-item>
        </ion-row>

        <ion-row style="width:100%">
          <ion-item class="divInput" no-margin no-lines>
            <ion-icon item-left name="lock" style="color:white"></ion-icon>
            <ion-input formControlName="password" [(ngModel)]="password" type="password" placeholder="Senha"></ion-input>
          </ion-item>
        </ion-row>
      </ion-col>

      <ion-col (click)="login()" tappable col-2 style="background-color:rgba(255,255,255,0.4); height:100px;display: flex;justify-content: center;align-items: center;">
        <ion-icon name="ios-arrow-dropright" style="color:white;font-size:4rem;">
        </ion-icon>
      </ion-col>

    </ion-row>

    <p (click)="resetPassword()" style="color:lightgrey;text-align:right;font-size:2vh;">Esqueceu sua Senha?</p>

    <ion-row style="width:100%" margin-top>
      <button ion-button block (click)="loginFacebook()" type="submit" class="btn-social" style="background:#364F87">
        <ion-icon name="logo-facebook" item-left margin-right style="font-size:3rem;"></ion-icon>
        <span>Login com Facebook</span>
      </button>
    </ion-row>

    <ion-row style="width:100%" margin-top>
      <button ion-button block color="danger" (click)="loginGoogle()" class="btn-social">
        <ion-icon name="logo-googleplus" item-left margin-right style="font-size:3rem;"></ion-icon>
        <span>Login com Google</span>
      </button>
    </ion-row>

    <ion-row style="width:100%" margin-top>
      <button ion-button block color="danger" (click)="googlePlusLogin()" class="btn-social">
        <ion-icon name="logo-googleplus" item-left margin-right style="font-size:3rem;"></ion-icon>
        <span>Login com Google teste</span>
      </button>
    </ion-row>

  </form>

  <p (click)="irCadastroPage()" style="color:lightgrey;margin-top:5%;font-size: 2.8vh;text-align:center;">Cadastre-se</p>


</ion-content>
