page-pagamentos-despesas {
    .rowCenter{
        display: flex;
        justify-content: center;
    }
    .fabAdd{
        position: absolute;
        right:0px;
        bottom:0px;
        z-index: 1;
    }

    .cardPagamento{
        .header{
            background: color($colors,primaryLight);
            
            ion-item{
                background: transparent;
                color:white;
            }
        }
    }

    .ordemPagamento{
        display: flex;
        align-items: center;
    }
}
