<ion-header>

  <ion-navbar color="primary">
    <ion-buttons left>
      <button ion-button icon-only (click)="fecharModal()">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>

    <ion-title>Pagamentos</ion-title>

  </ion-navbar>

</ion-header>


<ion-content>

  <ion-card style="position:relative;" class="cardPagamento">

    <ion-card-header class="header" no-padding>
      <ion-item>
        <h2 style="color:white;">{{btpDespesa.despesa}}</h2>
        <h1 style="color:white;" item-right>{{btpDespesa.despesaVlr | currency:'BRL':true:'1.2-2'}}</h1>
      </ion-item>
    </ion-card-header>

    <form [formGroup]="formPagamento">

      <button class="fabAdd" ion-fab mini color="secondary" (click)="adicionarPagamento()" [disabled]="desabilitarBotaoAdicionarPagamento()">
        <ion-icon name="add"></ion-icon>
      </button>

      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label floating>Valor</ion-label>
            <ion-input [(ngModel)]="valorRestante" formControlName="valorPagamento" type="tel"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label floating>Valor Pago Total</ion-label>
            <ion-input [(ngModel)]="valorPago" formControlName="valorRestante"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-item>
        <ion-label floating>Data Pagamento</ion-label>
        <ion-datetime formControlName="dataPagamento" displayFormat="DD, MMM de YYYY" monthShortNames="jan, fev, mar, abr, mai, jun, jul, ago, set, out, nov, dez"></ion-datetime>
      </ion-item>
    </form>

  </ion-card>

  <ion-list>
    <ion-card *ngFor="let pagamento of listPagamentos; let i = index">

      <ion-item>



        <div style="display:flex;justify-content: space-around">

          <div class="ordemPagamento">
            <h2 ion-text color="primary">{{i+1}}.</h2>
          </div>

          <div style="display:flex;flex-direction: column; justify-content: center; align-content: center">
            <p ion-text color="primary">Valor</p>
            <p> {{pagamento.idPagamento}} - {{pagamento.valorPagamento}} </p>
          </div>

          <div style="display:flex;flex-direction: column; justify-content: center; align-content: center">
            <p ion-text color="primary">Data Pagamento</p>
            <p> {{pagamento.datPagamento | date : 'dd/MM/y'}} </p>
          </div>
        </div>

        <button ion-button icon-only clear item-right (click)="excluirPagamento(i)">
          <ion-icon  name=trash color="primary"></ion-icon>
        </button>

      </ion-item>

    </ion-card>
  </ion-list>

</ion-content>

<ion-footer>
  <button ion-button full clear (click)="salvar();">Salvar</button>
</ion-footer>