<ion-header>

  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Visitas</ion-title>
  </ion-navbar>

  <ion-navbar color="primary">
    <ion-buttons left>
      <button ion-button icon-only (click)="decrementaData()">
      <ion-icon name="arrow-round-back"></ion-icon>  
    </button>
    </ion-buttons>
    <h4 style="text-align: center;color:white;">
      {{meses[filtroData.getMonth()]}} {{filtroData.getFullYear()}}
    </h4>
    <ion-buttons end>
      <button end ion-button icon-only (click)="incrementaData()">
      <ion-icon name="arrow-round-forward"></ion-icon>  
    </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content>

  <ion-list class="listSlide" no-lines >
    <button ion-item *ngFor="let btpVisita of listVisitas; let i = index" tappable (click)="editarVisita(btpVisita)" [class.listaZebrada]="i%2==0">
      <h2><ion-icon name="person" color="primary"></ion-icon> {{btpVisita.btpCliente.nome}} </h2>
      <h4 class="subLabel"><ion-icon name="flag" color="primary"></ion-icon> {{btpVisita.localVisita}}</h4>
      <h4 class="subLabel"><ion-icon name="calendar" color="primary"></ion-icon> {{btpVisita.dataVisita | date : 'dd/MM/y'}} {{btpVisita.horaVisita}}</h4>
      <ion-icon color="primary" item-right name="ios-arrow-forward"></ion-icon>
    </button>
  </ion-list>

  <p *ngIf="listVisitas.length==0" class="semRegistroCadastrado"> Nenhum registro! </p>

  <ion-fab right bottom>
    <button ion-fab color="secondary" (click)="adicionarVisita()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>

</ion-content>