<ion-list margin-horizontal>
  <ion-row margin-vertical class="pickColor" style="background-color:red;" (click)="pickColor('red')">
  </ion-row>

  <ion-row margin-bottom (click)="pickColor('orange')" class="pickColor" style="background-color:orange;">
  </ion-row>

  <ion-row margin-bottom (click)="pickColor('gold')" class="pickColor" style="background-color:gold;">
  </ion-row>

  <ion-row margin-bottom class="pickColor" style="background-color:yellow;" (click)="pickColor('yellow')">
  </ion-row>

  <ion-row margin-bottom class="pickColor" style="background-color:lightgreen;" (click)="pickColor('lightgreen')">
  </ion-row>

  <ion-row margin-bottom class="pickColor" style="background-color:green;" (click)="pickColor('green')">
  </ion-row>

  <ion-row margin-bottom class="pickColor" style="background-color:darkblue;" (click)="pickColor('darkblue')">
  </ion-row>

  <ion-row margin-bottom class="pickColor" style="background-color:blue;" (click)="pickColor('blue')">
  </ion-row>

  <ion-row margin-bottom class="pickColor" style="background-color:#4767a4;" (click)="pickColor('#4767a4')">
  </ion-row>

  <ion-row margin-bottom class="pickColor" style="background-color:lightblue;" (click)="pickColor('lightblue')">
  </ion-row>

  <ion-row margin-bottom class="pickColor" style="background-color:purple;" (click)="pickColor('purple')">
  </ion-row>

  <ion-row margin-bottom class="pickColor" style="background-color:pink;" (click)="pickColor('pink')">
  </ion-row>

  <ion-row class="pickColor" style="background-color:gray;" (click)="pickColor('gray')">
  </ion-row>

</ion-list>