popover-colors {
    .colors-popover{

        .popover-content{
            
            width: 50px;
        }
    }

    .pickColor{
        height:15px;
        width:100%;
        border-radius:20px;
    }
}
