page-modal-mensagem {

    .content{
        background-color: rgba(255,255,255,0);
    }
    .scroll-content{
        align-content: center;
        align-items: center;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        .modal{
            position: relative;
            background-color: white;
            align-items: center;
            box-shadow: 1px 4px 10px 0px rgba(0,0,0,0.8);
            display: flex;
            flex-flow: column nowrap;
            height: auto;
            justify-content: center;
            padding: 30px;
            width: 72vw;
            .modal-icon{
                display: block;
                text-align: center;
                width: 100%;
                svg{
                    max-width: 123px;
                    margin: auto;
                    width: 35%;
                }
            }
            .modal-msg{
                display: block;
                margin-bottom: 20px;
                text-align: center;
                width: 100%;
                p{
                    color: gray;
                    font-size: 1.3em;
                }
            }
            .modal-footer{
                position: absolute;
                bottom: 0;
                height:20%;
                width: 100%;
                color:white;
                display: flex;
                justify-content: center;
                align-items: center;
                font-weight: bold;
                font-size: 2vh;        
            }
        }
    }

    .sucesso{
        background-color: color($colors,secondary);
    }
    .advertência{
        background-color: gold;
    }
    .erro{
        background-color: color($colors,danger);
    }

    .headerMsg{
        font-size: 1.6em;
    }

}
