<ion-content>
  <div class="modal">
    
    <p no-margin margin-top class="headerMsg" ion-text color="primary">
      {{tipo}}
    </p>
    <div class="modal-msg">
      <p>{{mensagem}}</p>
    </div>
    <div [ngClass]="['modal-footer', tipo]" no-padding no-margin (click)="fecharPopup()">
      FECHAR
    </div>
  </div>
</ion-content>