<ion-header>
  <ion-navbar color="primary">
    <ion-buttons left>
      <button ion-button icon-only (click)="fechar()">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Adicionar Produto</ion-title>
    <ion-buttons right>
      <button ion-button icon-only (click)="deletarItemPedido()">
        <ion-icon name="trash"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-item>
    {{btpItemPedido.produto.produtoDsc}}
  </ion-item>

  <ion-item>
    <ion-label floating>Quantidade Solicitada</ion-label>
    <ion-input [(ngModel)] = "btpItemPedido.qtdSolicitada" type="tel"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label floating>Valor</ion-label>
    <ion-input [(ngModel)] = "btpItemPedido.valor" type="tel"></ion-input>
  </ion-item>
</ion-content>

<ion-footer>
  <button ion-button full clear (click)="salvarProdutoPedido()">Salvar</button>
</ion-footer>