<ion-header>

  <ion-navbar color="primary">
    <ion-buttons left>
      <button ion-button icon-only (click)="fecharModalProduto()">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>

    <ion-title>Produto</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="deletarProduto()"><ion-icon name="trash"></ion-icon></button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content padding-horizontal>
  <form [formGroup]="produtoForm">
    <ion-list>

      <ion-item>
        <ion-label floating>
          Produto
        </ion-label>
        <ion-input formControlName="produtoDsc"></ion-input>
      </ion-item>

      <ion-row padding-left *ngIf="!produtoForm.controls.produtoDsc.valid && produtoForm.controls['produtoDsc'].touched">
        <span class="mensagemValidacao">
            Digite o produto!
        </span>
      </ion-row>


      <ion-item>
        <ion-label>Categoria</ion-label>
        <ion-select floating formControlName="categoriaId">
          <ion-option *ngFor="let categoria of listCategorias" [value]="categoria.categoriaId">
            {{categoria.categoriaDsc}}
          </ion-option>
        </ion-select>
      </ion-item>



      <ion-item>
        <ion-label>Unidade</ion-label>
        <ion-select formControlName="produtoUnd" name="produtoUnd">
          <ion-option value="0">Unidade</ion-option>
          <ion-option value="1">Metro</ion-option>
          <ion-option value="2">Litro</ion-option>
          <ion-option value="3">Outro</ion-option>
        </ion-select>
      </ion-item>


      <ion-item>
        <ion-label floating>Durabilidade(dias)</ion-label>
        <ion-input pattern="[0-9]*" formControlName="durabilidade" name="durabilidade" type="tel"></ion-input>
      </ion-item>
      <ion-row padding-left *ngIf="!produtoForm.controls.durabilidade.valid && produtoForm.controls['durabilidade'].touched">
        <span class="mensagemValidacao">
            Digite um número válido!
        </span>
      </ion-row>

      <ion-item>
        <ion-label floating>Preço Venda</ion-label>
        <ion-input pattern="[0-9]*([.]?)[0-9]*" formControlName="precoUnitario" name="precoUnitario" type="tel"></ion-input>
      </ion-item>
      <ion-row padding-left *ngIf="!produtoForm.controls.precoUnitario.valid && produtoForm.controls['precoUnitario'].touched">
        <span class="mensagemValidacao">
            Digite um número válido!
        </span>
      </ion-row>

      <ion-item>
        <ion-label floating>Preço Última Compra</ion-label>
        <ion-input pattern="[0-9]*([.]?)[0-9]*" formControlName="precoUltCompra" name="precoUltCompra" type="tel"></ion-input>
      </ion-item>
      <ion-row padding-left *ngIf="!produtoForm.controls.precoUltCompra.valid && produtoForm.controls['precoUltCompra'].touched">
        <span class="mensagemValidacao">
            Digite um número válido!
        </span>
      </ion-row>

      <ion-item>
        <ion-label floating>Características</ion-label>
        <ion-textarea rows="3" formControlName="caracteristicas" name="caracteristicas"></ion-textarea>
      </ion-item>

    </ion-list>
  </form>
</ion-content>

<ion-footer>
  <button no-margin ion-button full (click)="salvarProduto()" color="primary" class="buttonSalvar">
            Salvar
  </button>
</ion-footer>
