<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      Resete sua senha
    </ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <form [formGroup]="resetPasswordForm" (submit)="resetPassword()" novalidate>

    <ion-item>
      <ion-label floating>Email</ion-label>
      <ion-input formControlName="email" type="email"
        [class.invalid]="!resetPasswordForm.controls.email.valid && resetPasswordForm.controls.email.dirty"></ion-input>
    </ion-item>
    <ion-item class="error-message" *ngIf="!resetPasswordForm.controls.email.valid  && resetPasswordForm.controls.email.dirty">
      <p>Digite um e-mail válido.</p>
    </ion-item>

    <button ion-button block type="submit" style="margin-top:20px;">
      Resetar senha
    </button>

  </form>

</ion-content>