<ion-header>
  <ion-navbar color="primary">
    <ion-buttons left>
      <button ion-button icon-only (click)="fecharModal()">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Adicionar Visita</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="deletar()"><ion-icon name="trash"></ion-icon></button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding-horizontal>

  <form [formGroup]="formCadastroVisita">

    <ion-item>
      <ion-label floating>Cliente</ion-label>
      <ion-input (focus)="abrirPopupCliente()" [(ngModel)]="btpVisita.btpCliente.nome" formControlName="nomeCliente"></ion-input>
    </ion-item>
    <p class="msgValidacao" *ngIf="(!formCadastroVisita.controls['nomeCliente'].valid && formCadastroVisita.controls['nomeCliente'].touched) || (btnSalvarClicked == true && !formCadastroVisita.controls['nomeCliente'].valid)">
      <ion-icon item-left name="information-circle"></ion-icon>
      Digite a descrição
    </p>

    <ion-item>
      <ion-label floating>Local</ion-label>
      <ion-input [(ngModel)]="btpVisita.localVisita" formControlName="localVisita"></ion-input>
    </ion-item>
    <p class="msgValidacao" *ngIf="(!formCadastroVisita.controls['localVisita'].valid && formCadastroVisita.controls['localVisita'].touched) || (btnSalvarClicked == true && !formCadastroVisita.controls['localVisita'].valid)">
      <ion-icon item-left name="information-circle"></ion-icon>
      Digite o local da visita
    </p>

    <ion-item>
      <ion-label floating>Data</ion-label>
      <ion-datetime [yearValues]="rangeAnosData()" [(ngModel)]="btpVisita.dataVisitaString" formControlName="dataVisita" displayFormat="DD/MM/YYYY"></ion-datetime>
    </ion-item>
    <p class="msgValidacao" *ngIf="(!formCadastroVisita.controls['dataVisita'].valid && formCadastroVisita.controls['dataVisita'].touched) || (btnSalvarClicked == true && !formCadastroVisita.controls['dataVisita'].valid)">
      <ion-icon item-left name="information-circle"></ion-icon>
      Escolha a data da visita
    </p>

    <ion-item>
      <ion-label floating>Hora</ion-label>
      <ion-datetime [(ngModel)]="btpVisita.horaVisita" formControlName="horaVisita" displayFormat="DD/MM/YYYY"
        displayFormat="HH:mm" pickerFormat="HH mm"
        minuteValues="00,10,20,30,40,50"></ion-datetime>
    </ion-item>
    <p class="msgValidacao" *ngIf="(!formCadastroVisita.controls['horaVisita'].valid && formCadastroVisita.controls['horaVisita'].touched) || (btnSalvarClicked == true && !formCadastroVisita.controls['horaVisita'].valid)">
      <ion-icon item-left name="information-circle"></ion-icon>
      Escolha a hora da visita
    </p>
  </form>

</ion-content>

<ion-footer>
  <button ion-button full clear (click)="salvar(); btnSalvarClicked = true;">Salvar</button>
</ion-footer>