page-calendario {

    $colorVisita: #c4a601;
    $colorDataImportante: #728274;
    $colorDespesa: #820204;
    $colorReceita: #028712;

    .header-md::after{
        background-image: none;
    }

    .no-events-label{    
        font-weight: bold;
        color: darkgrey;
        text-align: center;
    }

    .titleEvents{
        font-weight: bold;
        text-align: center;
    }

    .monthview-datetable {
        border: 0 !important;

        td {
            border: 1 !important;
            padding-right: 0 !important;
            padding-left: 0 !important;
            padding-bottom:2px !important;
        }
        th{
            border:0px solid #b2b2b2!important;            
            color:color($colors,primary)!important;;
            font-weight: normal;
            font-size: 1em;
            background-color: white; 
            
        }
    }

    .monthview-primary-with-event{
        background-color: transparent !important;
        color:black !important;
    }
    .monthview-secondary-with-event{
        background-color: transparent !important;
    }

    .monthview-selected {
        background-color:color($colors, primary) !important;
        color: white !important;
        margin:2px;
    }

    .calendar-day {
        border-radius: 6px;        
    }

    .divEvents{
        height:10px;
        display: flex; 
        justify-content: center;
    }

    .bolaEventCalendar{
        margin:1px;
        height:7px;
        width:7px;
        border-radius:10px;
    }

    .colorVisita{
        background-color:$colorVisita;
    }
    .borderVisita{
        border-left:15px solid $colorVisita !important;
    }

    .colorDataImportante{
        background-color:$colorDataImportante;
    }
    .borderDataImportante{
        border-left:15px solid $colorDataImportante !important;
    }

    .colorDespesa{
        background-color:$colorDespesa;
    }
    .borderDespesa{
        border-left:15px solid $colorDespesa !important;
    }

    .colorReceita{
        background-color:$colorReceita;
    }
    .borderReceita{
        border-left:15px solid $colorReceita !important;
    }

    .divShowTipoEvento{
        height:1.2em;
        width:1.2em;
        border-radius:20px;
    }

    .legendas{
        display: flex;
        justify-content: center;
        margin:5px;
        flex-wrap:wrap;
    }

    .itemLegenda{
        flex:1 ;
        display:flex;
        direction:column;
        align-items: center;
        justify-content: center;
    }

}
