<ion-header>

  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-title (click)="abrirPopOver($event)">
      Calendário {{headerTitle()}}
      <ion-icon name="arrow-dropdown"></ion-icon>
    </ion-title>

  </ion-navbar>

  <ion-navbar color="primary">
    <ion-buttons left>
      <button ion-button icon-only (click)="subtrairMes()">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title style="text-align:center;">
      {{viewTitle}}
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="adicionarMes()">
        <ion-icon name="arrow-forward"></ion-icon>
        </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>

  <template #monthviewDefaultEventDetailTemplate let-showEventDetail="showEventDetail" let-selectedDate="selectedDate" let-noEventsLabel="noEventsLabel">

    <div class="legendas">
      <div class="itemLegenda" *ngIf="tipoCalendario==EnumTipoCalendario.visita || tipoCalendario==EnumTipoCalendario.todos">
        <div class="divShowTipoEvento colorVisita"></div>
        <p>Visitas</p>
      </div>
      <div  class="itemLegenda" style="margin-left:2px;" *ngIf="tipoCalendario==EnumTipoCalendario.dataImportante || tipoCalendario==EnumTipoCalendario.todos">
        <div class="divShowTipoEvento colorDataImportante"></div>
        <p>Datas Importantes</p>
      </div>
      <div  class="itemLegenda" style="margin-left:2px;" *ngIf="tipoCalendario==EnumTipoCalendario.despesa || tipoCalendario==EnumTipoCalendario.todos">
        <div class="divShowTipoEvento colorDespesa"></div>
        <p>Despesas</p>
      </div>
      <div  class="itemLegenda" style="margin-left:2px;" *ngIf="tipoCalendario==EnumTipoCalendario.receita || tipoCalendario==EnumTipoCalendario.todos">
        <div class="divShowTipoEvento colorReceita"></div>
        <p>Receitas</p>
      </div>
    </div>

    <ion-list no-lines class="event-detail-container" has-bouncing="false" *ngIf="showEventDetail" overflow-scroll="false">
      <ion-item *ngIf="selectedDate?.events.length>0">
        <div class="titleEvents">{{headerEvents()}}</div>
      </ion-item>

      <ion-item *ngFor="let event of selectedDate?.events;let i = index;" [class.listaZebrada]="i%2==0" [ngClass]="{'borderVisita':event.tipo == EnumTipoCalendario.visita, 'borderDataImportante':event.tipo == EnumTipoCalendario.dataImportante, 'borderDespesa':event.tipo == EnumTipoCalendario.despesa, 'borderReceita': event.tipo == EnumTipoCalendario.receita }">
        <span class="event-detail">{{event.title}}</span>
        <h4 class="event-detail" *ngIf="event.local!=null">Local: {{event.local}} </h4>
        <h4 class="event-detail" *ngIf="event.valor!=null">Valor: {{event.valor | currency:'BRL':true:'1.2-2'}} </h4>
      </ion-item>
    </ion-list>
  </template>

  <template #template let-view="view" let-row="row" let-col="col">
    <div>
      {{view.dates[row*7+col].label}}
    </div>
    <div class="divEvents" *ngIf="view.dates[row*7+col].hasEvent && EnumTipoCalendario[tipoCalendario]!='todos'">
      <div [ngClass]="{'bolaEventCalendar':true, 'colorVisita':EnumTipoCalendario[tipoCalendario]=='visita', 'colorDataImportante':EnumTipoCalendario[tipoCalendario]=='dataImportante', 'colorDespesa':EnumTipoCalendario[tipoCalendario]=='despesa', 'colorReceita':EnumTipoCalendario[tipoCalendario]=='receita'}"></div>
    </div>

    <div class="divEvents" *ngIf="view.dates[row*7+col].hasEvent && EnumTipoCalendario[tipoCalendario]=='todos'">
      <div *ngIf="diaTemEventoTipo(view.dates[row*7+col], EnumTipoCalendario.visita)" [ngClass]="{'bolaEventCalendar':true, 'colorVisita':true}"></div>
      <div *ngIf="diaTemEventoTipo(view.dates[row*7+col], EnumTipoCalendario.dataImportante)" [ngClass]="{'bolaEventCalendar':true, 'colorDataImportante':true}"></div>
      <div *ngIf="diaTemEventoTipo(view.dates[row*7+col], EnumTipoCalendario.despesa)" [ngClass]="{'bolaEventCalendar':true, 'colorDespesa':true}"></div>
      <div *ngIf="diaTemEventoTipo(view.dates[row*7+col], EnumTipoCalendario.receita)" [ngClass]="{'bolaEventCalendar':true, 'colorReceita':true}"></div>
    </div>
    <div class="divEvents" *ngIf="!view.dates[row*7+col].hasEvent">
    </div>

  </template>

  <calendar [eventSource]="eventSource" [calendarMode]="calendar.mode" [currentDate]="calendar.currentDate" (onCurrentDateChanged)="onCurrentDateChanged($event)"
    (onTitleChanged)="onViewTitleChanged($event)" formatDayHeader="EEE" [monthviewEventDetailTemplate]="monthviewDefaultEventDetailTemplate"
    [monthviewDisplayEventTemplate]="template">
    </calendar>
</ion-content>