<ion-header>

  <ion-navbar color="primary">
    <ion-buttons left>
      <button ion-button icon-only (click)="fecharModalDataImportante()">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>

    <ion-title>Data Importante</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="deletarDataImportante()"><ion-icon name="trash"></ion-icon></button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding-horizontal>

  <ion-grid>
    <form [formGroup]="formCadastroDataImportante">

      <ion-item>
        <ion-label floating>Cliente*</ion-label>
        <ion-input (focus)="abrirModalClientes()" [(ngModel)]="btpDataImportante.cliente.nome" formControlName="nomeCliente"></ion-input>
      </ion-item>
      <p class="msgValidacao" *ngIf="(!formCadastroDataImportante.controls['nomeCliente'].valid && formCadastroDataImportante.controls['nomeCliente'].touched) || (btnSalvarClicked == true && !formCadastroDataImportante.controls['nomeCliente'].valid)">
        <ion-icon item-left name="information-circle"></ion-icon>
        Informe o cliente.
      </p>

      <ion-item>
        <ion-label stacked>Descrição*</ion-label>
        <ion-input placeholder="ex: Aniversário do Pedro." formControlName="dscDataImportante" type="text" [class.invalid]="!formCadastroDataImportante.controls['dscDataImportante'].valid && formCadastroDataImportante.controls['dscDataImportante'].touched"></ion-input>
      </ion-item>
      <p class="msgValidacao" *ngIf="(!formCadastroDataImportante.controls['dscDataImportante'].valid && formCadastroDataImportante.controls['dscDataImportante'].touched) || (btnSalvarClicked == true && !formCadastroDataImportante.controls['dscDataImportante'].valid)">
        <ion-icon item-left name="information-circle"></ion-icon>
        Informe a descrição.
      </p>

      <ion-item>
        <ion-label floating>Grau de parentesco(se houver)</ion-label>
        <ion-select formControlName="enumGrauParentesco">
          <ion-option value="0">Pai</ion-option>
          <ion-option value="1">Mãe</ion-option>
          <ion-option value="2">Filho</ion-option>
          <ion-option value="3">Filha</ion-option>
          <ion-option value="4">Irmão</ion-option>
          <ion-option value="5">Irmã</ion-option>
          <ion-option value="6">Tio</ion-option>
          <ion-option value="7">Tia</ion-option>
          <ion-option value="8">Sobrinho</ion-option>
          <ion-option value="9">Sobrinha</ion-option>
          <ion-option value="10">Neto</ion-option>
          <ion-option value="11">Neta</ion-option>
          <ion-option value="12">Primo</ion-option>
          <ion-option value="13">Prima</ion-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label floating>Sexo</ion-label>
        <ion-select formControlName="sexo">
          <ion-option value="Masculino">Masculino</ion-option>
          <ion-option value="Feminino">Feminino</ion-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label floating>Data*</ion-label>
        <ion-datetime [yearValues]="rangeAnosData()" displayFormat="DD/MM/YYYY" formControlName="diaMes" doneText="Ok" cancelText="Cancelar"></ion-datetime>
      </ion-item>
      <p class="msgValidacao" *ngIf="(!formCadastroDataImportante.controls['diaMes'].valid && formCadastroDataImportante.controls['diaMes'].touched) || (btnSalvarClicked == true && !formCadastroDataImportante.controls['diaMes'].valid)">
        <ion-icon item-left name="information-circle"></ion-icon>
        Informe a data.
      </p>

    </form>
  </ion-grid>

</ion-content>

<ion-footer>
  <button ion-button full clear (click)="salvar(); btnSalvarClicked = true;">Salvar</button>
</ion-footer>