page-dataImportante-add {
    .btnEditCliente{
        background-color: green;
    }

    .btnAddClienteProduto{
        padding: 20px;
    }
    .headerCardProduto{
        font-weight: 900;
    }
    .msgValidacao{
        font-size: 0.8em;
        color: red;
        padding-left: 10%;
    }
    $datetime-ios-placeholder-color: #999 !default;
}
