modal-categoria{
     .p{
        font-size: 0.8em;
        color: red;
    }  
    .seletorCor{
        width: 30px;
        height: 30px;
        padding: 10px;
        border: 1px solid gray;
        border-radius: 50px;
        margin: 0;
    }

}
