<ion-header>

  <ion-navbar color="primary">
    <ion-buttons left>
      <button ion-button icon-only (click)="fecharModal()">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>

    <ion-title>Fornecedores</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="deletar()"><ion-icon name="trash"></ion-icon></button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <ion-grid>
    <form [formGroup]="formCadastroFornecedor">

      <ion-item>
        <ion-label floating>Fornecedor</ion-label>
        <ion-input formControlName="nomeFornecedor" type="text" [class.invalid]="!formCadastroFornecedor.controls['nomeFornecedor'].valid && formCadastroFornecedor.controls['nomeFornecedor'].touched"></ion-input>
      </ion-item>


      <ion-item>
        <ion-label floating>Telefone</ion-label>
        <ion-input minlength="12" maxlength="14" formControlName="telefone" type="tel" [textMask]="{mask: masks.foneMask,guide:false}"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>CNPJ</ion-label>
        <ion-input minlength="18" maxlength="18" formControlName="cnpj" type="tel" [textMask]="{mask: masks.cnpjMask,guide:false}"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>Endereço</ion-label>
        <ion-input formControlName="endereco" type="text"></ion-input>
      </ion-item>

    </form>
  </ion-grid>
</ion-content>

<ion-footer>
  <button ion-button full clear (click)="salvar()">Salvar</button>
</ion-footer>