page-compra-add {

    .rowCliente{
        background-color:color($colors, primaryLight);
        color:white;
        text-transform: uppercase;
    }

    .rowProdParcela{
        display: flex;

    }

    .colRow{
        background-color:color($colors, primary);
        text-align: center;
        color: rgba(255,255,255,0.5);
        font-size: 0.8em;
    }

    .colSelecionado{
        color: white;
        font-size: 1em;
    }

    .listSlide{
        position:absolute;
        top:0px;
        width:100%; 
    }
    
    .btnEditCliente{
        background-color: green;
    }

    .btnAddClienteProduto{
        padding: 20px;
    }
    .headerCardProduto{
        font-weight: 900;
    }
     .msgValidacao{
        font-size: 0.8em;
        color: red;
    } 


    .headerCard{
        font-weight: 900;
        background-color: #efefef;
        color:black;
    }

    .fabListPedidoAdd{
        position: absolute;
        width: 1000px;
        right: 0;
    }

    .divFab{
        position:relative;
        right:5px;
        width:100%;
        height:50px;
        text-align: right;
        display: flex;
        justify-content: flex-end;
    }

    .btnFabList{
        background-color: color($colors,secondary);
        color:white;
    }

    .labelFabList{
        text-align: right;
        padding:5px;
        color: white;
        background:rgba(0,0,0,0.7);
        margin-right: 5px
    }

    
}
