<ion-header>

  <ion-navbar color="primary">
    <ion-buttons left>
      <button ion-button icon-only (click)="fecharModalCompra()">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>

    <ion-title>Compra</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="deletarCompra()"><ion-icon name="trash"></ion-icon></button>
    </ion-buttons>
  </ion-navbar>

  <ion-row class="rowCliente" no-lines>
    <ion-item no-lines>
      <ion-icon color="primaryDark" item-left name="person"></ion-icon>
      <ion-input [disabled]="btpCompra.statusCompra==1" (focus)="abrirModalFornecedor()" [(ngModel)]="btpCompra.btpFornecedor.nomeFornecedor"></ion-input>
    </ion-item>
  </ion-row>

  <ion-row no-padding>
    <ion-col>
      <form [formGroup]="formCadastroCompra">
        <ion-item no-lines style="background:transparent">
          <ion-icon color="primaryDark" item-left name="calendar"></ion-icon>
          <ion-datetime [yearValues]="rangeAnosData()" [(ngModel)]="btpCompra.datCompraString" cancelText="Cancelar" doneText="Ok"
            displayFormat="DD, MMM de YYYY" monthShortNames="jan, fev, mar, abr, mai, jun, jul, ago, set, out, nov, dez" formControlName="datCompra"
            [class.invalid]="!formCadastroCompra.controls['datCompra'].valid && formCadastroCompra.controls['datCompra'].touched"></ion-datetime>
        </ion-item>
      </form>
    </ion-col>
    <ion-col>
      <p item-right ion-text style="text-align:right;">
        <ion-badge *ngIf="btpCompra.statusCompra==1" color="danger">Fechada</ion-badge>
        <ion-badge *ngIf="btpCompra.statusCompra!=1" color="secondary">Aberta</ion-badge>
      </p>
    </ion-col>
  </ion-row>

  <ion-row no-padding class="rowProdParcela">
    <ion-col no-padding>
      <button ion-item no-lines [class.colSelecionado]="slides.getActiveIndex()==0" class="colRow" (click)="visualizarProdutos()"
        style="height:100%;">
        <ion-icon name="cart">  </ion-icon>
        Produtos <br/>
        {{getTotalVlrCompra(listBtpItemProdutoCompra) | currency:'BRL':true:'1.2-2'}}
      </button>
    </ion-col>
    <ion-col no-padding>
      <button ion-item no-lines [class.colSelecionado]="slides.getActiveIndex()==1" class="colRow" (click)="visualizarParcelas()"
        style="height:100%;">
        <ion-icon name="card">  </ion-icon>
        Pagamentos <br/>
        {{getTotalVlrParcelas() | currency:'BRL':true:'1.2-2'}}
    </button>
    </ion-col>
  </ion-row>

</ion-header>

<ion-content>

  <ion-slides>
    <ion-slide>
      <ion-list no-lines class="listSlide">
        <button ion-item text-wrap *ngFor="let btpItemProdutoCompra of listBtpItemProdutoCompra; let i = index;" (click)="abrirModalItemProdutoCompra(btpItemProdutoCompra, i)"
          [style.background-color]="i%2==0?'#efefef':''">
          
          <h2>{{i+1}}. {{btpItemProdutoCompra.produto.produtoDsc}}</h2>

          <p item-right>{{btpItemProdutoCompra.vlrTotalItemCompra | currency:'BRL':true:'1.2-2'}}</p>

          </button>
      </ion-list>

      <p *ngIf="listBtpItemProdutoCompra==null || listBtpItemProdutoCompra.length==0" class="semRegistroCadastrado"> Nenhum produto adicionado! </p>
    </ion-slide>

    <ion-slide>
      <ion-list no-lines class="listSlide">
        <button ion-item text-wrap *ngFor="let btpItemFormaPagamentoCompra of lstBtpItemFormaPagamentoCompra; let i = index;" (click)="abrirModalItemFormaPagamento(btpItemFormaPagamentoCompra, i)"
          [style.background-color]="i%2==0?'#efefef':''">
          <h2>{{i+1}}. {{btpItemFormaPagamentoCompra.btpFormaPagamento.descricao }}</h2>
          <h6 ion-text color="sub-label">
            Data Vencimento: {{btpItemFormaPagamentoCompra.datVencimento | date : 'dd/MM/y'}}
          </h6>
          
          <p item-right>{{btpItemFormaPagamentoCompra.vlrParcela | currency:'BRL':true:'1.2-2'}}</p>

          </button>
      </ion-list>

      <p *ngIf="lstBtpItemFormaPagamentoCompra==null || lstBtpItemFormaPagamentoCompra.length==0" class="semRegistroCadastrado">
        Nenhum pagamento adicionado! </p>
    </ion-slide>
  </ion-slides>


</ion-content>

<ion-footer>

  <button ion-button full clear (click)="salvar(); btnSalvarClicked = true;" color="primary" class="buttonSalvar">
            Salvar
  </button>

  <ion-fab #fab right bottom *ngIf="btpCompra.btpFornecedor.nomeFornecedor!=null">
    <button [disabled]="isBloqueiaAlteracao==true" ion-fab color="secondary"><ion-icon name="add"></ion-icon></button>
    <ion-fab-list class="fabListPedidoAdd" side="top">
      <div class="divFab">
        <p (click)="abrirModalProdutos(fab)" class="labelFabList">Adicionar Produto</p>
        <button (click)="abrirModalProdutos(fab)" [disabled]="isBloqueiaAlteracao==true" class="btnFabList" ion-fab><ion-icon name="cart"></ion-icon>
        </button>
      </div>
      <div class="divFab">
        <p (click)="abrirModalFormaPagamento(fab)" class="labelFabList">Definir pagamento</p>
        <button (click)="abrirModalFormaPagamento(fab)" [disabled]="isBloqueiaAlteracao==true" class="btnFabList" ion-fab><ion-icon name="card"></ion-icon>
        </button>
      </div>
      <div class="divFab">
        <p (click)="fecharCompraIgor()" class="labelFabList">Fechar compra</p>
        <button (click)="fecharCompraIgor()" [disabled]="isBloqueiaAlteracao==true" class="btnFabList" ion-fab><ion-icon name="checkmark"></ion-icon>
        </button>
      </div>
    </ion-fab-list>
  </ion-fab>

</ion-footer>