
.controlV{
   height: 60%;
}

.headerMenu{
    height:20%;   
    display:flex;
    justify-content: center;
    align-items: center;   
}

.divSelecionado{
    height: 25px;
    width: 25px;
    background-color: #75ddc8;
    position: absolute;
    left: -20px;
    top: 10px;
    box-shadow: 1px 0px 5px #75ddc8;
    border-radius: 50px;
}

.contentMenu{
    background-image: url("../assets/img/bgMenu8.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.contentMenu{
    background-color: color($colors,secondary);
    color:white;
}

.buttonMenu{
    position: relative;
    background-color:transparent;
    padding-bottom: 0px;
    font-size: 1.5em;
    height:50px;
    display: flex;
    align-items: center;
}

.button-sair{
    background:rgba(0,0,0,0.4);
}

.buttonMenuSelecionado{
    background-color:rgba(255,255,255,0.1);
    border:1px solid rgba(255,255,255,0.2) !important;
}

.iconMenu{
    opacity: 0.5;
}
.iconMenuSelecionado{
    opacity: 1;   
}

.nomePaginaMenu{
    color:color($colors,light);
    font-weight: 100;
    margin-left: 10%;
    font-size: 0.8em;
}

.toast-top{
  border-radius:5px;
  width: 98% !important;  
}

.toast-message{ 
  border-radius:5px;
}

.msgErro .toast-message {
  background-color: #fff2f2;
  font-weight: bold;
  color:rgb(163, 4, 4);
  border:1px solid rgba(163, 4, 4,0.5);
}

.msgSucesso .toast-message {
  background-color: #dff0d8;
  font-weight: bold;
  color:#3c763d;
  border:1px solid #d0e9c6;
}

.msgInformacao .toast-message {
  background-color: #d9edf7;
  font-weight: bold;
  color:#31708f;
  border:1px solid #bcdff1;
}

.msgAdvertencia .toast-message {
  background-color: #fcf8e3;
  font-weight: bold;
  color:#8a6d3b;
  border:3px solid #faf2cc;
}


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

ion-slide{
        height:100%;
        overflow-y: auto;
}

.buttonAdd{
        background-color: color($colors,secondary);
        position: fixed;
        right: 5%;
        bottom: 5%;
        z-index: 500;
    }
.divSearchBar{
        background-color: color($colors,primary);
        height: 60px;
    }
.toasts{
    opacity: 0.8;
}

.listaZebrada{
    background-color:#efefef;
}

.subLabel{
        color: color($colors,sub-label);
    }

.semRegistroCadastrado{
    opacity: 0.3;
    text-align: center;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
}


.picker-md .picker-above-highlight{
    display:block;
}

.picker-md .picker-below-highlight {
    display:block;
}

.text-input::-moz-placeholder {
  color: #e8e8e8;
}

.text-input:-ms-input-placeholder {
  color: #e8e8e8;
}

.text-input::-webkit-input-placeholder {
  text-indent: 0;
  color: #e8e8e8;
}