<ion-menu [content]="content">
  <!--<ion-header class="headerMenu">

  </ion-header>-->

  <ion-content class="contentMenu">
    <div class="headerMenu">
      <img (click)="abrirDashboard()" menuClose class="controlV" src="assets/img/logo.png" />
    </div>

    <ion-list no-lines no-margin>
      <div padding-horizontal [style.border-bottom]="p.linha==true?'1px solid #82a0b6':''" class="buttonMenu" [class.buttonMenuSelecionado]="p.atual"
        menuClose *ngFor="let p of pages" (click)="openPage(p)">

        <div *ngIf="p.atual" item-left class="divSelecionado"></div>

        <ion-icon class="iconMenu" [class.iconMenuSelecionado]="p.atual" item-left color="light" [name]="p.icon"></ion-icon>

        <span ion-text class="nomePaginaMenu">{{p.title}}</span>
      </div>

      <div padding-horizontal class="buttonMenu button-sair" menuClose (click)="deslogar()">
        <ion-icon class="iconMenu" item-left color="light" name="power"></ion-icon>

        <span ion-text class="nomePaginaMenu">Sair</span>
      </div>
    </ion-list>
  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>