<ion-header>

  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Clientes</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="exibirSearchBar()"><ion-icon name="search"></ion-icon></button>
    </ion-buttons>
  </ion-navbar>

  <div id="divSearchBar" class="divSearchBar" *ngIf="renderSearchBar">
    <ion-searchbar [(ngModel)]="filtroClienteNome" [showCancelButton]=true (ionInput)="filtrarClientes()" placeholder="Pesquise aqui...">
    </ion-searchbar>
  </div>

</ion-header>

<ion-content id="contentClientes" no-padding >
  <ion-list no-lines>
    <button ion-item text-wrap *ngFor="let btpCliente of lstClientes;let i = index" (click)="editarCliente(btpCliente)" [class.listaZebrada]="i%2==0">
      
      <div *ngIf="btpCliente.categoria.cor!=null" item-left padding [style.background]="btpCliente.categoria.cor" style="border-radius:50px;">         
      </div>

      <div *ngIf="btpCliente.categoria.cor==null" item-left padding style="border-radius:50px;border:1px solid gray">
      </div>
      
      <h2 class="nomeCliente">{{btpCliente.nome}}</h2>
      <h4 class="categoriaCliente">{{btpCliente.categoria.categoriaDsc==null?'':btpCliente.categoria.categoriaDsc}} {{btpCliente.categoria.categoriaDsc!=null && btpCliente.celular!=null ? ' | ':'' }}  {{btpCliente.celular==null?'':btpCliente.celular}} </h4>
      {{btpCliente.cpf}}
      <ion-icon color="primary" item-right name="ios-arrow-forward"></ion-icon>
    </button>
  </ion-list>

  <p *ngIf="lstClientes.length==0" class="semRegistroCadastrado"> Nenhum registro! </p>

  <button ion-fab class="buttonAdd" (click)="adicionarCliente()">
     <ion-icon name="add"></ion-icon>
  </button>
</ion-content>