<ion-header>

  <ion-navbar color="primary">
    <ion-buttons left>
      <button ion-button icon-only (click)="fecharModal()">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>

    <ion-title>Clientes</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="deletar()"><ion-icon name="trash"></ion-icon></button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding-horizontal no-lines>

  <form [formGroup]="formCadastroCliente">
    <ion-list>
      <ion-item>
        <ion-label floating>Nome*</ion-label>
        <ion-input formControlName="nome" name="nome" type="text"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>E-mail</ion-label>
        <ion-input formControlName="email" type="text"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>Telefone</ion-label>
        <ion-input maxlength="14" formControlName="celular" type="tel" [textMask]="{mask: masks.foneMask,guide:false}"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>CPF</ion-label>
        <ion-input minlength="14" maxlength="14" formControlName="cpf" type="tel" [textMask]="{mask: masks.cpfMask,guide:false}"></ion-input>
      </ion-item>

      <ion-row style="padding-top:15px">
        <ion-item>
          <ion-label>Categoria</ion-label>
          <ion-select formControlName="categoriaId" cancelText="Cancelar">
            <ion-option *ngFor="let categoria of listCategorias" [value]="categoria.categoriaId">
              {{categoria.categoriaDsc}}
            </ion-option>
          </ion-select>
        </ion-item>
      </ion-row>

      <ion-row style="padding-top:15px">

        <ion-item>
          <ion-label>Sexo</ion-label>
          <ion-select formControlName="sexo" cancelText="Cancelar">
            <ion-option value="M">Masculino</ion-option>
            <ion-option value="F">Feminino</ion-option>
          </ion-select>
        </ion-item>
      </ion-row>

      <ion-item>
        <ion-label floating>Data Nascimento</ion-label>
        <ion-datetime cancelText="Cancelar" doneText="Ok" displayFormat="DD, MMM de YYYY"
          monthShortNames="jan, fev, mar, abr, mai, jun, jul, ago, set, out, nov, dez" formControlName="dataNasc"></ion-datetime>
      </ion-item>

      <ion-item>
        <ion-label floating>Endereço</ion-label>
        <ion-input formControlName="endereco" type="text"></ion-input>
      </ion-item>

    </ion-list>
  </form>
</ion-content>

<ion-footer>
  <button ion-button full clear (click)="salvar()">Salvar</button>
</ion-footer>