<ion-header>

  <ion-navbar [color]="slides.getActiveIndex()==0?'cor-despesa':'primary'">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-item no-lines tappable class="divTipoDespesa" [class.selecionado]="slides.getActiveIndex()==0" (click)="selecionarDespesas()">
      <ion-icon name="thumbs-down"></ion-icon>
      Despesas
    </ion-item>
    <ion-item no-lines tappable class="divTipoReceita" [class.selecionado]="slides.getActiveIndex()>=1" (click)="selecionarReceitas()">
      <ion-icon name="thumbs-up"></ion-icon>
      Receitas
    </ion-item>
    <div id="divTipoSelecionado"></div>
    <ion-buttons end>
      <button end ion-button icon-only (click)="showPopover($event)">
        <ion-icon name="md-more"></ion-icon>  
      </button>
    </ion-buttons>
  </ion-navbar>

  <ion-navbar *ngIf="btnSearchClicked!=true" [color]="slides.getActiveIndex()==0?'cor-despesa':'primary'">

    <div style="display: flex;justify-content: center;align-items: center;">

      <button *ngIf="exibirTodos==false" color="white" ion-button icon-only clear (click)="decrementaData()">
        <ion-icon name="arrow-round-back"></ion-icon>  
      </button>

      <p no-margin style="font-size:1.2em;text-align: center;color:white;width:40%" *ngIf="exibirTodos==false">
        {{meses[filtroData.getMonth()]}} {{filtroData.getFullYear()}}
      </p>
      <p style="text-align: center;color:white;width:40%" *ngIf="exibirTodos==true">
        Todos
      </p>

      <button *ngIf="exibirTodos==false" color="white" ion-button icon-only clear (click)="incrementaData()">
        <ion-icon name="arrow-round-forward"></ion-icon>  
      </button>

    </div>
  </ion-navbar>

  <ion-navbar [style.display]="btnSearchClicked==true?'':'none'" [color]="slides.getActiveIndex()==0?'cor-despesa':'primary'">
    <ion-searchbar id="barraBusca" class="barraBusca" [(ngModel)]="filtroDespesaReceita" (ionInput)="filtrarDespesasReceitas()"
      placeholder="Pesquise aqui...">
    </ion-searchbar>
    <ion-buttons end>
      <button ion-button icon-only (click)="filtrar()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content>

  <ion-slides (ionSlideDidChange)="slideChanged()">
    <ion-slide class="slide-zoom">
      <ion-list class="listSlide" no-lines ="listDespesas">
        <button ion-item text-wrap *ngFor="let btpDespesa of listDespesas; let i = index" (click)="editarDespesa(btpDespesa)" [class.listaZebrada]="i%2==0">
          
          <p *ngIf="btpDespesa.btpCompra.idCompra==null" item-left [style.background]="btpDespesa.categoria.cor" style="padding:10px;font-weight:bold;color:white;border-radius:50px;text-transform: uppercase;"> 
            {{btpDespesa.categoria.categoriaDsc!=null?btpDespesa.categoria.categoriaDsc.substring(0,2):''}}
          </p>
          <p *ngIf="btpDespesa.btpCompra.idCompra!=null" item-left padding style="padding:10px;font-weight:bold;;background-color:red;color:white;border-radius:50px;text-transform: uppercase;"> 
            CO
          </p>
          
          <h2> {{btpDespesa.despesa}} </h2>
          <h3 class="subLabel"> {{btpDespesa.despesaDta | date : 'dd/MM/y'}}</h3>
          <span  style="position:relative;height:100%;display:flex;align-items: center;" item-right ion-text color="cor-despesa" > 
            {{getPrecoFormatado(btpDespesa.despesaVlr)}} 
            <ion-badge class="iconIsPago" color="cor-despesa" *ngIf="btpDespesa.despesaPaga=='true'">PAGO</ion-badge>
          </span>
        </button>
      </ion-list>

      <p *ngIf="listDespesas.length==0" class="semRegistroCadastrado"> Nenhum registro! </p>

    </ion-slide>

    <ion-slide>
      <ion-list class="listSlide" no-lines >
        <button ion-item text-wrap *ngFor="let btpReceita of listReceitas; let i = index;" (click)="editarReceita(btpReceita)" [class.listaZebrada]="i%2==0">
          
          <p *ngIf="btpReceita.btpVenda.idVenda==null" item-left [style.background]="btpReceita.categoria.cor" style="padding:10px;font-weight:bold;color:white;border-radius:50px;text-transform: uppercase;"> 
            {{btpReceita.categoria.categoriaDsc!=null?btpReceita.categoria.categoriaDsc.substring(0,2):''}}
          </p>

          <p *ngIf="btpReceita.btpVenda.idVenda!=null" item-left padding style="padding:10px;font-weight:bold;;background-color:green;color:white;border-radius:50px;text-transform: uppercase;"> 
            VE
          </p>
          
          <h2> {{btpReceita.receita}} </h2>
          <h3 class="subLabel"> {{btpReceita.receitaDta | date : 'dd/MM/y'}}</h3>
          
          <span style="position:relative;height:100%;display:flex;align-items: center;" item-right ion-text color="secondary">

            {{getPrecoFormatado(btpReceita.receitaVlr)}}
            <ion-badge class="iconIsPago" color="secondary" *ngIf="btpReceita.receitaPaga=='true'">PAGO</ion-badge>
          </span>
        </button>
      </ion-list>

      <p *ngIf="listReceitas.length==0" class="semRegistroCadastrado"> Nenhum registro! </p>

    </ion-slide>

  </ion-slides>

  <ion-fab bottom right>
    <button ion-fab (click)="adicionarDespesaReceita()" color="secondary">
     <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>

</ion-content>

<ion-footer>
  <ion-item>
    <h2>Total:</h2>
    <h2 item-right *ngIf="slides.getActiveIndex()==0">{{getPrecoFormatado(totalDespesas)}}</h2>
    <h2 item-right *ngIf="slides.getActiveIndex()>=1">{{getPrecoFormatado(totalReceitas)}}</h2>
  </ion-item>

</ion-footer>