page-despesas-receitas {   
    .listSlide{
        position:absolute;
        top:0px;
        width:100%; 
    }

    .divTipoDespesa{
        font-size:2vh;
        color:white;
        text-align: center;
        position:absolute;
        width: 30%;
        height: 100%;
        left:20%;
        top: 0;
        background-color: transparent;
    }

    .divTipoReceita{
        font-size:2vh;
        color:white;
        text-align: center;
        position:absolute;
        width: 30%;
        height: 100%;
        top: 0;
        left:50%;
        background-color: transparent;
    }

    #divTipoSelecionado{
        position:absolute;
        height:10%;
        width:30%;
        left:20%;
        bottom: 0;
        border-radius: 10px;
        box-shadow: 10px;
        opacity: 0.2;
        background-color:white;
    }

    .selecionado{
        font-size:2.4vh;
        color:white;
    }

    .subLabel{
        color: color($colors,sub-label);
    }

    .barraBusca{
        width:85%;
        position: absolute;
        top: 10%;
        left: 100%;
    }

    .iconIsPago{
        position: absolute;
        right:-5px;
        top:0px;
        padding:3px;
        font-size: 0.7em;
        color:white;
        border-radius:50px;
    }

}
