<ion-header>

  <ion-navbar color="cor-despesa">
    <ion-buttons left>
      <button ion-button icon-only (click)="fecharModal()">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>

    <ion-title>Despesa</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="deletarDespesa()"><ion-icon name="trash"></ion-icon></button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding-horizontal>

  <form [formGroup]="formDespesa">
    <ion-list>
      <ion-item>
        <ion-icon item-left name="paper" color="cor-despesa"></ion-icon>
        <ion-label floating>Descrição*</ion-label>
        <ion-input formControlName="despesa" type="text"></ion-input>
      </ion-item>
      <p class="msgValidacao" *ngIf="(!formDespesa.controls['despesa'].valid && formDespesa.controls['despesa'].touched) || (btnSalvarClicked == true && !formDespesa.controls['despesa'].valid)">
        <ion-icon item-left name="information-circle"></ion-icon>
        Digite a descrição!
      </p>


      <ion-item>
        <ion-icon item-left name="logo-usd" color="cor-despesa"></ion-icon>
        <ion-label floating>Valor</ion-label>
        <ion-input pattern="[0-9]*([.]?)[0-9]*"  [(ngModel)]="btpDespesa.despesaVlr" formControlName="despesaVlr" type="tel"></ion-input>
      </ion-item>

      <p class="msgValidacao" *ngIf="(!formDespesa.controls['despesaVlr'].valid && formDespesa.controls['despesaVlr'].touched) || (btnSalvarClicked == true && !formDespesa.controls['despesaVlr'].valid)">
        <ion-icon item-left name="information-circle"></ion-icon>
        Digite um número válido!
      </p>


      <ion-item>
        <ion-icon item-left name="calendar" color="cor-despesa"></ion-icon>
        <ion-label floating>Data</ion-label>
        <ion-datetime [yearValues]="rangeAnosData()" displayFormat="DD, MMM de YYYY" formControlName="despesaDta" monthShortNames="jan, fev, mar, abr, mai, jun, jul, ago, set, out, nov, dez"></ion-datetime>
      </ion-item>
      <p class="msgValidacao" *ngIf="(!formDespesa.controls['despesaDta'].valid && formDespesa.controls['despesaDta'].touched) || (btnSalvarClicked == true && !formDespesa.controls['despesaDta'].valid)">
        <ion-icon item-left name="information-circle"></ion-icon>
        Preencha a data!
      </p>


      <ion-item>
        <ion-icon item-left name="pricetags" color="cor-despesa"></ion-icon>
        <ion-label>Categoria</ion-label>
        <ion-select [(ngModel)]="btpDespesa.categoria.categoriaId" formControlName="categoriaId" cancelText="Cancelar">
          <ion-option *ngFor="let categoria of listCategorias" [value]="categoria.categoriaId">
            {{categoria.categoriaDsc}}
          </ion-option>
        </ion-select>
      </ion-item>
      <p class="msgValidacao" *ngIf="(!formDespesa.controls['categoriaId'].valid && formDespesa.controls['categoriaId'].touched) || (btnSalvarClicked == true && !formDespesa.controls['categoriaId'].valid)">
        <ion-icon item-left name="information-circle"></ion-icon>
        Selecione uma categoria!
      </p>

      <ion-item>
        <ion-icon item-left name="logo-buffer" color="cor-despesa"></ion-icon>
        <ion-label>Conta</ion-label>
        <ion-select formControlName="contaId" cancelText="Cancelar">
          <ion-option *ngFor="let conta of listContas" [value]="conta.contaId">
            {{conta.contaDsc}}
          </ion-option>
        </ion-select>
      </ion-item>

      <ion-item no-lines *ngIf="btpDespesa.btpCompra !=null && btpDespesa.btpCompra.idCompra == null">
        <ion-label>Está Pago?</ion-label>
        <ion-checkbox formControlName="despesaPaga" color="cor-despesa" checked="true"></ion-checkbox>
      </ion-item>

      <ion-row no-padding>
        <ion-col no-padding>
          <ion-item *ngIf="btpDespesa.despesaId==null">
            <ion-label>Repetir ?</ion-label>
            <ion-checkbox formControlName="repetir" [(ngModel)]="repetir" color="cor-despesa" checked="true"></ion-checkbox>
          </ion-item>
        </ion-col>
        <ion-col no-padding>
          <ion-item *ngIf="repetir==true">
            <ion-input maxlength="2" [textMask]="{mask: masks.doisNumeros,guide:false}" required placeholder="Qtd." type="tel" formControlName="qtdPeriodicidade"
              [(ngModel)]="qtdPeriodicidade"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-item *ngIf="repetir==true">
        <ion-icon item-left name="time" color="cor-despesa"></ion-icon>
        <ion-label>Periodicidade</ion-label>
        <ion-select formControlName="periodicidade" [(ngModel)]="periodicidade">
          <ion-option value="0">
            diário
          </ion-option>
          <ion-option value="1">
            semanal
          </ion-option>
          <ion-option value="2">
            mensal
          </ion-option>
          <ion-option value="3">
            semestral
          </ion-option>
          <ion-option value="4">
            anual
          </ion-option>
        </ion-select>
      </ion-item>

      <button ion-button color="cor-despesa" round block (click)="abrirPagamentos();" *ngIf="btpDespesa.btpCompra !=null && btpDespesa.btpCompra.idCompra != null">
          Pagamentos
        </button>


    </ion-list>
  </form>
</ion-content>

<ion-footer no-padding>
  <button ion-button full clear style="background-color:white" (click)="salvar();btnSalvarClicked = true;">Salvar</button>
</ion-footer>