<ion-header>

  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Pré-Venda</ion-title>
  </ion-navbar>

  <ion-navbar>
    <ion-item no-lines tappable class="divHeaderPedidosAbertos" (click)="selecionarPedidosAbertos()">
      <ion-icon name="checkmark-circle-outline"></ion-icon>
      Abertos
    </ion-item>
    <ion-item no-lines tappable class="divHeaderPedidosFechados" (click)="selecionarPedidosFechados()">
      <ion-icon name="close-circle"></ion-icon>
      Fechados
    </ion-item>
    <div id="divBarPedidoSelecionado"></div>
  </ion-navbar>
</ion-header>

<ion-content>


  <ion-slides (ionSlideDidChange)="slideChanged()">

    <ion-slide>
      <ion-list class="listSlide" no-lines>
        <ion-item *ngFor="let btpPedido of listPedidosAbertos; let i=index" tappable (click)="editar(btpPedido)" [class.listaZebrada]="i%2==0">
          <h2> <b>{{i+1}}.</b> {{btpPedido.btpCliente.nome}}</h2>
          <h4 class="subLabel" style="margin-left: 15px;">{{btpPedido.dataPedido | date : 'dd/MM/y'}}</h4>
          <h4 item-right>
            <span style="font-weight: bold;">Total Pedido:</span> <br/>
            <span style="text-align: right;">{{btpPedido.totalPedido!=null?getPrecoFormatado(btpPedido.totalPedido):'R$ 0,00'}}</span>
          </h4>
        </ion-item>
      </ion-list>
    </ion-slide>

    <ion-slide>
      <ion-list class="listSlide" no-lines>
        <ion-item *ngFor="let btpPedido of listPedidosFechados; let i=index" tappable (click)="editar(btpPedido)" [class.listaZebrada]="i%2==0">
          <h2><b>{{i+1}}.</b> {{btpPedido.btpCliente.nome}}</h2>
          <h4 class="subLabel" style="margin-left: 15px;">{{btpPedido.dataPedido | date : 'dd/MM/y'}}</h4>
          <h4 item-right>
            <span style="font-weight: bold;">Total Pedido:</span> <br/>
            <span style="text-align: right;">{{btpPedido.totalPedido!=null?getPrecoFormatado(btpPedido.totalPedido):'R$ 0,00'}}</span>
          </h4>
        </ion-item>
      </ion-list>
    </ion-slide>

  </ion-slides>



  <button ion-fab class="buttonAdd" (click)="incluir()">
     <ion-icon name="add"></ion-icon>
  </button>

</ion-content>