page-pedido {
    .listSlide{
        position:absolute;
        top:0px;
        width:100%; 
    }

    .divTipoCategoria{   
        height: 60px;
    }

    .divHeaderPedidosAbertos{
        color:white;
        text-align: center;
        position:absolute;
        width: 50%;
        height: 100%;
        left:0;
        top: 0;
        background-color: color($colors,primary);
    }

    .divHeaderPedidosFechados{
        color:white;
        text-align: center;
        position:absolute;
        width: 50%;
        height: 100%;
        top: 0;
        background-color: color($colors,primary);
        left:50%;
    }

    #divBarPedidoSelecionado{
        position:absolute;
        height:10%;
        width:40%;
        left:5%;
        bottom: 0;
        opacity: 0.2;
        border-radius: 10px;
        background-color:black;
    }
}
