<ion-header>
  <ion-navbar color="primary">
    <ion-buttons left>
      <button ion-button icon-only (click)="fechar()">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Produto</ion-title>
    <ion-buttons right>
      <button *ngIf="statusCrud!='incluir' && bloqueiaAlteracao==false" ion-button icon-only (click)="deletarItemVenda()">
        <ion-icon name="trash"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <form [formGroup]="formItemVenda">
      <ion-item>
        {{btpItemVenda.produto.produtoDsc}}
      </ion-item>

      <ion-item>
        <ion-label>Estoque</ion-label>
        <ion-select formControlName="idEstoque">
          <ion-option *ngFor="let btpEstoque of lstBtpEstoque" [value]="btpEstoque.idEstoque">
            {{btpEstoque.dscEstoque}} - qtd. {{btpEstoque.qtdEstoque}}
          </ion-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label floating>Quantidade</ion-label>
        <ion-input pattern="[0-9]*" formControlName="qtdItemVenda" type="tel" [class.invalid]="!formItemVenda.controls['qtdItemVenda'].valid && formItemVenda.controls['qtdItemVenda'].touched"></ion-input>
      </ion-item>
      <ion-row padding-left>
        <p class="msgValidacao" *ngIf="(!formItemVenda.controls['qtdItemVenda'].valid && formItemVenda.controls['qtdItemVenda'].touched) || (btnSalvarClicked == true && !formItemVenda.controls['qtdItemVenda'].valid)">Digite um número válido!</p>
      </ion-row>

      <ion-item>
        <ion-label floating>Valor</ion-label>
        <ion-input pattern="[0-9]*([.]?)[0-9]*" formControlName="vlrItemVenda" type="tel"></ion-input>
      </ion-item>
      <ion-row padding-left>
        <p class="msgValidacao" *ngIf="(!formItemVenda.controls['vlrItemVenda'].valid && formItemVenda.controls['vlrItemVenda'].touched) || (btnSalvarClicked == true && !formItemVenda.controls['vlrItemVenda'].valid)">Digite um número válido!</p>
      </ion-row>

    </form>
  </ion-list>
</ion-content>

<ion-footer>
  <button ion-button full clear (click)="salvarProdutoVenda(); btnSalvarClicked = true;" [disabled]="!formItemVenda.valid || bloqueiaAlteracao==true">Adicionar produto</button>
</ion-footer>