<ion-header>

  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Data importante</ion-title>
  </ion-navbar>

</ion-header>

<ion-content no-padding>

  <ion-list>
    <ion-item *ngFor="let btpDataImportante of listDataImportante; let i = index" tappable (click)="editar(btpDataImportante)" [class.listaZebrada]="i%2==0">
      <h2><ion-icon color="primary" name="person"> </ion-icon> {{btpDataImportante.cliente.nome}}</h2>
      <h4><ion-icon color="primary" name="calendar"> </ion-icon> {{btpDataImportante.diaMes | date : 'dd/MM/y'}}</h4>
      <h4><ion-icon color="primary" name="ios-paper"></ion-icon> {{btpDataImportante.dscDataImportante}}</h4>
    
      <ion-icon color="primary" item-right name="ios-arrow-forward"></ion-icon>
    </ion-item>
  </ion-list>

  <p *ngIf="listDataImportante.length==0" class="semRegistroCadastrado"> Nenhum registro! </p>

  <button ion-fab class="buttonAdd" (click)="incluir()">
     <ion-icon name="add"></ion-icon>
  </button>

</ion-content>