page-estoque-add {
    .btnEditCliente{
        background-color: green;
    }

    .btnAddClienteProduto{
        padding: 20px;
    }
    .headerCardProduto{
        font-weight: 900;
    }
     .msgValidacao{
        font-size: 0.8em;
        color: red;
    } 


    .headerCard{
        font-weight: 900;
        background-color: #0d0754;
        color:white;
    }
    .precoProduto{
        color: color($colors,danger);
    }

    .fabListPedidoAdd{
        position: absolute;
        width: 180px;
        right: 0;
    }

    .divFab{
        position:relative;
        width:100%;
        height:50px;

    }

    .btnFabList{
        position: absolute;
        right: 5%;
        top: 0;
        background-color: color($colors,secondary);
        color:white;
    }

    .labelFabList{
        position: absolute;
        left: 0;
        top: 10%;
        font-weight: bold;
    }

    
}
