<ion-header>

  <ion-navbar color="primary">
    <ion-buttons left>
      <button ion-button icon-only (click)="fecharModalEstoque()">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>

    <ion-title>Estoque</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="deletarEstoque()"><ion-icon name="trash"></ion-icon></button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content>
  <ion-list nolines padding-horizontal padding-bottom>
    <form [formGroup]="formCadastroEstoque">
      <ion-item>
        <ion-label floating>Descrição</ion-label>
        <ion-input formControlName="dscEstoque" type="text" [class.invalid]="!formCadastroEstoque.controls['dscEstoque'].valid && formCadastroEstoque.controls['dscEstoque'].touched"></ion-input>
      </ion-item>
      <ion-row padding-left>
        <p class="msgValidacao" *ngIf="(!formCadastroEstoque.controls['dscEstoque'].valid && formCadastroEstoque.controls['dscEstoque'].touched) || (btnSalvarClicked == true && !formCadastroEstoque.controls['dscEstoque'].valid)">Digite o nome do estoque!</p>
      </ion-row>
    </form>
  </ion-list>

  <ion-list no-lines>

    <ion-list-header>
      Produtos
    </ion-list-header>

    <button ion-item text-wrap *ngFor="let btpItemEstoque of listBtpItemEstoque; let i = index" (click)="abrirModalItemEstoque(btpItemEstoque, i)"
      [style.background-color]="i%2==0?'#efefef':''">

      <h2>{{i+1}}. {{btpItemEstoque.produto.produtoDsc}}</h2>
      <h6 ion-text color="sub-label">{{btpItemEstoque.qtdEstoque==null?'':'Quantidade: '+btpItemEstoque.qtdEstoque}}</h6>
      <ion-icon color="primary" item-right name="ios-arrow-forward"></ion-icon>
      </button>
  </ion-list>

  <div style="height:70%;display:flex;justify-content:center;align-items: center;">
    <p *ngIf="listBtpItemEstoque.length==0" style="font-size: 1.5em;opacity: 0.3;"> Nenhum produto adicionado! </p>
  </div>
  <ion-fab bottom right>
    <button ion-fab (click)="abrirModalProdutos()" color="secondary">
     <ion-icon name="cart"></ion-icon>
    </button>
  </ion-fab>
</ion-content>

<ion-footer>

  <button ion-button full clear (click)="salvar(); btnSalvarClicked = true;" color="primary" class="buttonSalvar">
            Salvar
  </button>

</ion-footer>