<ion-header>

  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Contas</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="exibirSearchBar()"><ion-icon name="search"></ion-icon></button>
    </ion-buttons>
  </ion-navbar>

  <div id="divSearchBar" class="divSearchBar" *ngIf="renderSearchBar">
    <ion-searchbar [(ngModel)]="filtroContaNome" [showCancelButton]=true (ionInput)="filtrarContas()" placeholder="Pesquise aqui...">
    </ion-searchbar>
  </div>

</ion-header>

<ion-content id="contentConta">
  <ion-list>
    <button ion-item text-wrap *ngFor="let btpConta of lstContas; let i = index" (click)="editarConta(btpConta)" [class.listaZebrada]="i%2==0">
      <h2 class="nomeCliente">{{btpConta.contaId}} {{btpConta.contaDsc}}</h2>
      <ion-icon color="primary" item-right name="ios-arrow-forward"></ion-icon>
    </button>
  </ion-list>

  <p *ngIf="lstContas.length==0" class="semRegistroCadastrado"> Nenhum registro! </p>

  <ion-fab bottom right>
    <button ion-fab (click)="adicionarConta()" color="secondary">
     <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>
</ion-content>