<ion-header>

  <ion-navbar color="primary">
    <ion-buttons left>
      <button ion-button icon-only (click)="fecharModal()">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>

    <ion-title>Receita</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="deletar()"><ion-icon name="trash"></ion-icon></button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding-horizontal>

  <form [formGroup]="formReceita">
    <ion-list>
      <ion-item>
        <ion-icon item-left name="paper" color="secondary"></ion-icon>
        <ion-label floating>Descrição*</ion-label>
        <ion-input formControlName="receita" type="text" [disabled]="btpReceita.btpVenda!=null && btpReceita.btpVenda.idVenda!=null"></ion-input>
      </ion-item>
      <p class="msgValidacao" *ngIf="(!formReceita.controls['receita'].valid && formReceita.controls['receita'].touched) || (btnSalvarClicked == true && !formReceita.controls['receita'].valid)">
        <ion-icon item-left name="information-circle"></ion-icon>
        Digite a descrição
      </p>

      <ion-item>
        <ion-icon item-left name="logo-usd" color="secondary"></ion-icon>
        <ion-label floating>Valor*</ion-label>
        <ion-input pattern="[0-9]*([.]?)[0-9]*"  formControlName="receitaVlr" type="tel"></ion-input>
      </ion-item>
      <p class="msgValidacao" *ngIf="(!formReceita.controls['receitaVlr'].valid && formReceita.controls['receitaVlr'].touched) || (btnSalvarClicked == true && !formReceita.controls['receitaVlr'].valid)">
        <ion-icon item-left name="information-circle"></ion-icon>
        Digite um número válido!
      </p>

      <ion-item>
        <ion-icon item-left name="calendar" color="secondary"></ion-icon>
        <ion-label floating>Data</ion-label>
        <ion-datetime [yearValues]="rangeAnosData()" displayFormat="DD, MMM de YYYY" formControlName="receitaDta" monthShortNames="jan, fev, mar, abr, mai, jun, jul, ago, set, out, nov, dez"></ion-datetime>
      </ion-item>
      <p class="msgValidacao" *ngIf="(!formReceita.controls['receitaDta'].valid && formReceita.controls['receitaDta'].touched) || (btnSalvarClicked == true && !formReceita.controls['receitaDta'].valid)">
        <ion-icon item-left name="information-circle"></ion-icon>
        Digite a data
      </p>

      <ion-item>
        <ion-icon item-left name="pricetags" color="secondary"></ion-icon>
        <ion-label>Categoria*</ion-label>
        <ion-select formControlName="categoriaId" cancelText="Cancelar">
          <ion-option *ngFor="let categoria of listCategorias" [value]="categoria.categoriaId">
            {{categoria.categoriaDsc}}
          </ion-option>
        </ion-select>
      </ion-item>
      <p class="msgValidacao" *ngIf="(!formReceita.controls['categoriaId'].valid && formReceita.controls['categoriaId'].touched) || (btnSalvarClicked == true && !formReceita.controls['categoriaId'].valid)">
        <ion-icon item-left name="information-circle"></ion-icon>
        Selecione uma categoria!
      </p>

      <ion-item>
        <ion-icon item-left name="logo-buffer" color="secondary"></ion-icon>
        <ion-label>Conta</ion-label>
        <ion-select formControlName="contaId" cancelText="Cancelar">
          <ion-option *ngFor="let conta of listContas" [value]="conta.contaId">
            {{conta.contaDsc}}
          </ion-option>
        </ion-select>
      </ion-item>

      <ion-item *ngIf="btpReceita.btpVenda !=null && btpReceita.btpVenda.idVenda == null">
        <ion-label>Está Pago?</ion-label>
        <ion-checkbox formControlName="receitaPaga" color="secondary" checked="true"></ion-checkbox>
      </ion-item>

      <ion-row no-padding>
        <ion-col no-padding>
          <ion-item *ngIf="btpReceita.receitaId==null">
            <ion-label>Repetir?</ion-label>
            <ion-checkbox formControlName="repetir" [(ngModel)]="repetir" color="secondary" checked="true"></ion-checkbox>
          </ion-item>
        </ion-col>
        <ion-col no-padding>
          <ion-item *ngIf="repetir==true">
            <ion-input maxlength="2" [textMask]="{mask: masks.doisNumeros,guide:false}" placeholder="Qtd." type="tel" formControlName="qtdPeriodicidade"
              [(ngModel)]="qtdPeriodicidade"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-item *ngIf="repetir==true">
        <ion-icon item-left name="time" color="secondary"></ion-icon>
        <ion-label>Periodicidade</ion-label>
        <ion-select formControlName="periodicidade" [(ngModel)]="periodicidade">
          <ion-option value="0">
            diário
          </ion-option>
          <ion-option value="1">
            semanal
          </ion-option>
          <ion-option value="2">
            mensal
          </ion-option>
          <ion-option value="3">
            semestral
          </ion-option>
          <ion-option value="4">
            anual
          </ion-option>
        </ion-select>
      </ion-item>


      <button ion-button color="secondary" round block (click)="abrirPagamentos();" *ngIf="btpReceita.btpVenda !=null && btpReceita.btpVenda.idVenda != null">
          Pagamentos
    </button>

    </ion-list>

  </form>
</ion-content>

<ion-footer>
  <button ion-button full clear style="background-color:white" (click)="salvar(); btnSalvarClicked = true;">Salvar</button>
</ion-footer>