<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Page One</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
    
    <input-data (selecionarData)="setarData($event)" label="data"></input-data>

    <button ion-button (click)="clicou()"> buttonaa </button>

</ion-content>
