<ion-header>

  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Produtos</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="exibirSearchBar()">
        <ion-icon name="search"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

  <div class="divSearchBar" *ngIf="renderSearchBar">
    <ion-searchbar [(ngModel)]="filtroProdutoDsc" [showCancelButton]=true (ionInput)="filtrarProdutos()" placeholder="Pesquise aqui...">
    </ion-searchbar>
  </div>
</ion-header>

<ion-content id="contentProdutos" class="content">

  <ion-list no-lines>

    <ion-row>
      <button text-wrap ion-item *ngFor="let produto of produtos; let i = index;" (click)="editarProduto(produto)" [class.listaZebrada]="i%2==0">
        <h2>{{produto.produtoId}} - {{produto.produtoDsc}}</h2>
        <h4 class="categoriaProduto">{{produto.categoria.categoriaDsc}}</h4>
        <h4 item-right> {{produto.precoUnitario| currency:'BRL':true:'1.2-2'}}</h4>
        <ion-icon color="primary" item-right name="ios-arrow-forward"></ion-icon>
      </button>
    </ion-row>
  </ion-list>

  <p *ngIf="produtos.length==0" class="semRegistroCadastrado"> Nenhum registro! </p>

  <button ion-fab class="buttonAdd" (click)="adicionarProduto()">
    <ion-icon name="add"></ion-icon>
  </button>
</ion-content>