<ion-header>

  <ion-navbar color="primary">
    <ion-buttons left>
      <button ion-button icon-only (click)="fecharModal()">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>

    <ion-title>Contas</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="deletar()"><ion-icon name="trash"></ion-icon></button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <ion-grid>
    <form [formGroup]="formConta">
      <ion-item>
        <ion-label floating>Nome</ion-label>
        <ion-input [(ngModel)]="btpConta.contaDsc" formControlName="contaDsc" type="text" ></ion-input>
      </ion-item>
    </form>
  </ion-grid>
</ion-content>

<ion-footer>
  <button ion-button full clear (click)="salvar()">Salvar</button>
</ion-footer>